/* Moema */
.button--moema.selected::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	background: inherit;
	border-radius: 50px;
	z-index: -1;
	background-color: $color_success;
	opacity: 0;
	-webkit-transform: scale3d(0.8, 0.5, 1);
	transform: scale3d(0.8, 0.5, 1);
}
.button--moema.selected.correct {
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}
.button--moema.selected.correct::before {
	-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
	animation: anim-moema-2 0.3s 0.3s forwards;
}

@-webkit-keyframes anim-moema-1 {
	60% {
		@include transform(scale3d(0.85, 0.85, 1));
	}
	85% {
		@include transform(scale3d(1.1, 1.1, 1));
	}
	100% {
		@include transform(scale3d(1, 1, 1));
	}
}
@keyframes anim-moema-1 {
	60% {
		@include transform(scale3d(0.85, 0.85, 1));
	}
	85% {
		@include transform(scale3d(1.1, 1.1, 1));
	}
	100% {
		@include transform(scale3d(1, 1, 1));
	}
}
@-webkit-keyframes anim-moema-2 {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-2 {
	from {
		opacity: 0.8;
	}	
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
/*
.button--moema.correct {
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

@-webkit-keyframes anim-moema-1 {
	60% {
		@include transform(scale3d(0.85, 0.85, 1));
	}
	85% {
		@include transform(scale3d(1.1, 1.1, 1));
	}
	100% {
		@include transform(scale3d(1, 1, 1));
	}
}
@keyframes anim-moema-1 {
	60% {
		@include transform(scale3d(0.85, 0.85, 1));
	}
	85% {
		@include transform(scale3d(1.1, 1.1, 1));
	}
	100% {
		@include transform(scale3d(1, 1, 1));
	}
}*/
.answer-button-block {
	overflow: visible !important;
}