<div class="container">
    <div id="content" class="content">
      <div class="psyk-animation">
          <div class="animation-container">
           <app-animation></app-animation>
        </div>
      </div>
      <div class="dialog-box">
        <div id="msg-box" class="messages-box">
            <ul id="display-message">

            </ul>
            <div id="select-box">

            </div>
            <div id="endChatMessage" class="endChat_text">
                <h1>Testen er slut</h1>
                <p>Se dit resultat</p>
                <div class="cta">
                    <button class="cta-btn" routerLink="/result">Se resultat</button>
                    <button class="cta-btn" routerLink="/">Tag testen igen</button>
                </div>
            </div>
            <div id="type-message">
                <div class="typing-dot-1 dot"></div>
                <div class="typing-dot-2 dot"></div>
                <div class="typing-dot-3 dot"></div>
                <div class="typing-dot-4 dot"></div>
            </div>
            <div id="chat-box" class="hide">
              <input id="inputMsg" class="input-message" placeholder="Skriv dit svar her" type="text" disabled>
              <input id="btn-submit" class="submit-message hide" type="submit" value="Send">
            </div>
          </div>
          <div id="resetChat">
            <img src="assets/img/restart.svg" alt="genstart" />
            <input id="btn-reset" class="reset-message" type="submit" value="Start forfra">

          </div>
        </div>
    </div>
</div>
