@import "../../sass/screen";
.container{
    .content{
        overflow: hidden;
    }
}

#logo {
  display: none;
}

#resetChat{

  position: absolute;
  z-index: 2;
  bottom: 5vw;
  width: 100%;
  height: 32px;
  background-color: transparentize($color_grey_blue, 0.9);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 130px;
  cursor: pointer;


  &:hover {
    background-color: transparentize($color_grey_blue, 0.5);

    .reset-message {
      color: $color_black;
    }
  }

  img {
    height: 16px;
    display: block;
    border-radius: 16px;
  }

  .reset-message {
    color: $color_grey_blue;
    position: absolute;
    top: 6px;
    padding: 0;
    width: 100%;
    border: none;
    height: auto;
    font-size: 13px;
    text-transform: uppercase;
    background-color: transparent;
  }

  @include breakpoint($breakpoint_phablet , min){
    left: 20px;
    bottom: 22px;
  }

}
.reset-message{
  position: absolute;
  padding: 0;
  width: 100%;
  border: none;
  height: auto;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  color: #576d7b;
  &:hover {
    cursor: pointer;
  }
}
