  <div class="container">
    <div class="content">
      <div class="result_text">
        <div class="result-box">
          <h1>Din diagnose</h1>
          <p>Tak for din deltagelse. Psykologen har nu lavet din diagnose. Den kan du tænke lidt over. Og eventuelt dele med dine venner på Facebook.</p>
          <div class="cta">
            <button class="cta-btn facebook fb-share-image" onClick="share_click">Del dit resultat</button>
            <button class="cta-btn blue-grey" routerLink="/">Tag testen igen</button>
          </div>
        </div>
      </div>
      <div id="graphic" class="graphic">
        <div id="graphic-overlay">
          <div id="board-content">
            <p id="result_name"></p>
            <p id="result_date"></p>
            <div id="result_score" class="score"></div>
            <div class="description">
              <p class="headline">Diagnose</p>
              <p id="result_diagnose" class="diagnose"></p>
              <p class="headline">Noter</p>
              <p id="result_notes" class="notes"></p>
              <p class="headline">Gode råd</p>
              <p id="result_advice" class="advice"> </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
