@import "../../sass/screen";

h1 {
  font-size: 32px;

  @include breakpoint($breakpoint_phablet , min){
    font-size: 24px;
  }
}

p {
  font-size: 16px;
}

.container .content{
    padding: 0;

  @include breakpoint($breakpoint_tablet , min){
    flex-direction: row-reverse;
  }


}


.result_text{
  text-align: center;
    width: 90vw;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    @include breakpoint($breakpoint_tablet , min){
      text-align: left;
      position: relative;
      width:calc(100vw - 85vh);
      min-width: 200px;
      margin-left: 2.5vh;
      margin-right: 2.5vh;
      margin-bottom: 0;
    }

    .result-box{
      @include breakpoint($breakpoint_tablet , min){
        @include position-center();
        width: 100%;
      }

    }
}

.graphic{
    margin-top: 10vh;
    width: 100vw;
    height: 70vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    @include breakpoint($breakpoint_tablet , min){
      margin: 0 2.5vh;
      width: 135vh;
      max-width: calc(100vw - 200px);
      height: 105vh;
      #graphic-overlay {
        background-size: auto 100%;
      }
    }

    &::before{
        display: none;
    }

    #graphic-overlay {
      width: 100%;
      height: 100%;
      background: url('/assets/img/result_board.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
      position: relative;
      margin: 10% 0;
      opacity: 0;
      p, .score{
        font-family: 'Just Another Hand', cursive;
        position: absolute;
        font-size: 1.8vh;
        margin: 0;
        @include breakpoint($breakpoint_tablet , min){
        }
      }

      #board-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30vh;
        height: 41vh;
        -webkit-transform: translate(-41%, -44%) rotate(-9deg);
        transform: translate(-41%, -44%) rotate(-9deg);
        @include breakpoint($breakpoint_tablet , min){
          width: 45vh;
          height: 63vh;
          -webkit-transform: translate(-41%, -43.4%) rotate(-9deg);
          transform: translate(-41%, -43.4%) rotate(-9deg);
        }

        #result_name {
          position: absolute;
          font-size: 2.5vh;
          top: 0.2em;
          left: 2em;
          width: 7em;
          text-align: center;
          @include breakpoint($breakpoint_tablet , min){
            font-size: 3.75vh;
            top: 0.2em;
            left: 2.2em;
            width: 7em;
          }
        }
        #result_date {
          position: absolute;
          font-size: 2.5vh;
          top: 0.2em;
          right: 0em;
          width: 2.5em;
          text-align: center;
          @include breakpoint($breakpoint_tablet , min){
            font-size: 4vh;
            top: 0.2em;
            width: 2.6em;
            right: -0.2em;
          }
        }
        #result_diagnose, #result_date,  #result_name, #result_score, #result_notes, #result_advice{
          opacity: 0;
          line-height: 1em;
        }

        .score {
          position: absolute;
          top: 2.2em;
          height: 1vh;
          left: 31%;
            @include breakpoint($breakpoint_tablet , min){
              top: 2.2em;
              left: 31%;
              font-size: 2.8vh;
            }
          &::after{
            content:"";
            position: absolute;
            background-image: url("/assets/img/circle-comment.png");
            height: 2.5vh;
            width: 2.5vh;
            background-size: contain;
            @include breakpoint($breakpoint_tablet , min){
              height: 4vh;
              width: 4vh;
            }
          }

          &.score-2 {
            left: 42%;
            @include breakpoint($breakpoint_tablet , min){
              left: 42%;
            }
          }
          &.score-3 {
            left: 55%;
            @include breakpoint($breakpoint_tablet , min){
              left: 55%;
            }
          }
          &.score-4 {
            left: 66%;
            @include breakpoint($breakpoint_tablet , min){
              left: 66%;
            }
          }
          &.score-5 {
            left: 80%;
            @include breakpoint($breakpoint_tablet , min){
              left: 80%;
            }
          }
          &.score-6 {
            left: 91%;
            @include breakpoint($breakpoint_tablet , min){
              left: 91%;
            }
          }

        }
        .description {
          width: 100%;
          position: absolute;
          top: 9vh;
          font-size: 2vh;
          @include breakpoint($breakpoint_tablet , min){
            top: 14vh;
          }

          p{
            position: relative;
            font-size: 2.5vh;
            @include breakpoint($breakpoint_tablet , min){
              font-size: 3.3vh;
            }
          }

          .headline {
            width: 100%;
            font-size: 2vh;
            margin-bottom: 0.2em;
            margin-top: 0.7em;
            text-transform: uppercase;
            line-height: 1em;
            @include breakpoint($breakpoint_tablet , min){
              font-size: 3vh;
            }
          }
          .hand {
            font-size: 1.5vh;
            margin: 0;
          }

        }
      }
    }
}

.cta {
  .cta-btn{
    width: calc(50% - 10px);
    min-width: 200px;
    max-width: 350px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @include breakpoint($breakpoint_tablet , min){
      margin-left: inherit;
      margin-right: inherit;
    }
    @media only screen and (max-height: 499px){
      font-size: 14px;
      padding: 0.5em;
      max-width: 200px;
    }

    &.blue-grey{
      color: $color_grey_blue;
      border: none;
      background: transparentize($color_grey_blue, 0.9);
      text-shadow: none;

      &:hover {
        color: $color_black;
        background: transparentize($color_grey_blue, 0.5);
      }
    }
  }
}
