<!--The content below is only a placeholder and can be replaced.-->
<div id="menu" class="">
  <div class="left-side-nav campaign-site-btn">
    <img class="arrow" src="assets/img/back-arrow.svg" alt="tilbage til kampagne"/>
    <img class="top-logo" src="assets/img/VD_logo_white.png" alt="logo"/>
    Kampagneside
  </div>
  <div class="right-side-nav">Hold til højre – det er det modsatte af venstre</div>
</div>
<div class="wrapper" >
    <router-outlet></router-outlet>
</div>
<img id="logo" src="assets/img/VD_logo_sort.png" />
<div id="cookie-alert">
  <div id="cookie-cover">
  </div>
  <div id="cookie-box">
    <img id="cookie-logo" src="assets/img/VD_logo_sort.png" />
    <div class="cookie-description">Vi anvender cookies til at huske dine indstillinger, statistik og målrette annoncer. <a href="http://www.vejdirektoratet.dk/DA/om-vejdirektoratetdk/Sider/Cookieregler.aspx" target="_blank">Se mere her</a></div>
    <button class="cta-btn" id="cookie-accept" (click)="setCookie()">Acceptér</button>
</div>
</div>
