<svg version="1.1" id="psyk_chair" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 881.2 1096" style="enable-background:new 0 0 881.2 1096;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#86888A;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#515151;}
	.st3{fill:none;stroke:#515151;stroke-width:8;stroke-miterlimit:10;}
	.st4{opacity:0.25;fill:#5D6163;}
	.st5{fill:#FFEEE1;}
	.st6{fill:#FFDA44;}
	.st7{fill:#261E18;}
	.st8{opacity:0.25;fill:#FFFFFF;}
	.st9{fill:#42382F;}
	.st10{fill:#5D6163;}
	.st11{fill:#E2C034;}
	.st12{opacity:0.25;fill:#66553D;}
	.st13{clip-path:url(#XMLID_16_);fill:#BCA131;}
	.st14{opacity:0.25;clip-path:url(#XMLID_17_);fill:#5D6163;}
	.st15{clip-path:url(#XMLID_17_);fill:#BCA131;}
	.st16{clip-path:url(#XMLID_18_);fill:#BCA131;}
	.st17{opacity:0.1;clip-path:url(#XMLID_19_);fill:#66553D;}
	.st18{opacity:0.25;clip-path:url(#XMLID_20_);fill:#66553D;}
	.st19{fill:#66432B;}
	.st20{clip-path:url(#XMLID_21_);fill:#66432B;}
	.st21{clip-path:url(#XMLID_25_);fill:#FFFFFF;}
	.st22{opacity:0.1;clip-path:url(#XMLID_25_);}
	.st23{fill:#C1C1C1;}
	.st24{fill:#7C7C7C;}
	.st25{clip-path:url(#XMLID_26_);}
	.st26{opacity:0.25;clip-path:url(#XMLID_27_);fill:#5D6163;}
	.st27{opacity:0.25;clip-path:url(#XMLID_26_);fill:#5D6163;}
	.st28{opacity:0.25;clip-path:url(#XMLID_28_);fill:#FFFFFF;}
	.st29{fill:#C98C3A;}
	.st30{fill:#FFB345;}
	.st31{opacity:0.1;fill:#261E18;}
	.st32{clip-path:url(#XMLID_29_);fill:#FFFFFF;}
	.st33{opacity:0.15;clip-path:url(#XMLID_29_);fill:#261E18;}
</style>
<g id="psyk_x5F_chair_1_">
	<g id="cord">
		<polygon class="st0" points="800.9,799.6 796.9,797.6 796.9,846.6 800.9,844.6 		"/>
		<rect x="747.9" y="797.6" class="st1" width="49" height="49"/>
		<circle class="st2" cx="772.4" cy="823.1" r="14.5"/>
		<path class="st3" d="M501.9,399.6c0,0,66.7,16.4,66.7,173.8c0,480.2,120.3,250.2,204.3,250.2"/>
	</g>
	<path id="shadow" class="st4" d="M623.9,968.2c-5.9-0.7-6-9.2-0.1-10c29.4-4,47.6-9.5,47.6-15.5c0-12-71.2-21.8-159.1-21.8
		c-87.9,0-159.1,9.8-159.1,21.8c0,3.4,5.5,6.5,15.4,9.4c3.2,0.9,2.6,5.6-0.7,5.6c-172.9,2.5-307.6,22.5-307.6,46.9
		c0,26,154,47.1,344,47.1c190,0,344-21.1,344-47.1C748.3,989.9,699.9,976.9,623.9,968.2z"/>
	<g id="psyk">
		<g>
			<path class="st5" d="M228.5,439.2l-11.4,16.5c0,0-6.5,4.8-13.2,9.2c-6.8,4.3-23.3,8-21.9,4.7c1.5-3.3,11.3-9.1,11.3-9.1
				s2.5-4.3-4.7-2.4c-7.2,1.9-13.6,4-13.6,4s-4.1,8.5-9.9,10.7c-2.3,0.8-4.5-1.4-3.6-3.7l2.1-5.8c0,0,0-9.2,2.2-12
				c2.2-2.8,3.6-9.7,8.2-13.8c4.6-4.1,28.6-9.9,36.7-6.9L228.5,439.2z"/>
			<path class="st6" d="M239.9,421.5l-25,5.5c0,0-8.1,17.5,7.3,32.8l22.9-5.1L239.9,421.5z"/>
			<g>
				<defs>
					<path id="XMLID_15_" d="M381.2,254.2c0,0-8.5-4.6-53.2,132.4c-0.4,1.3,1.8,4.8,2.2,7.3c0.1,0.8-0.8,1.4-1.5,0.9
						c-1.6-1.2-1.2-4.7-4.1-4.2c-9.2,1.7-35.7,9.8-92.6,31.3c0,0-8.7,22.5,7.3,36.2c0,0,27.1-4.1,56.7-9.8c5.6-1.1,11.4-2.2,17-3.4
						c21-4.3,40.9-9.2,50.8-13.6C363.8,431.4,445.9,313.6,381.2,254.2z"/>
				</defs>
				<use xlink:href="#XMLID_15_"  style="overflow:visible;fill:#E2C034;"/>
				<clipPath id="XMLID_12_">
					<use xlink:href="#XMLID_15_"  style="overflow:visible;"/>
				</clipPath>
			</g>
		</g>
		<g>
			<path class="st7" d="M437.1,946.8h58.1c0,0,3.4-16.2-8.7-36.6l-39.1,0.9C447.4,911.1,436.1,927.4,437.1,946.8z"/>
			<rect x="436.9" y="946.8" class="st7" width="58.1" height="9.2"/>
			<path class="st8" d="M488.1,929.1c0,4-9.8,7.2-21.9,7.2c-12.1,0-21.9-3.2-21.9-7.2c0-4,9.8-7.2,21.9-7.2
				C478.3,921.9,488.1,925.1,488.1,929.1z"/>
		</g>
		<path class="st9" d="M535.2,521.3c-1.3-6.6,0.3-29.5-0.9-35.5c0,0-81.5,13.7-137.7-4.4c0,0-0.4,4.8-1,11.1
			C410.1,497.3,461.8,526.3,535.2,521.3z"/>
		<path class="st10" d="M534.4,485.8c0,0-81.4,13.1-137.6-4.9c0,0-3.5,11.3-7.2,30.4l64.9,52.3l12.7,0.1c0,0-3.2,56.1-9.5,145.6
			c-2.3,32.3-4.9,69-8,109c-2.3,29.3-4.7,60.3-7.4,92.7c0,0,30.1,16.8,50.2-1.8c0,0,2.6-16.1,6.6-42.6c2.8-18.4,6.2-41.9,9.7-68.4
			C521.6,703.9,536.7,570.9,534.4,485.8z"/>
		<g>
			<path class="st7" d="M548.1,841.9c0,0,20.9,11.6,31.3,24.7l-70.1,83.9c0,0-20.9-12.6,9.6-49.1l3.7-36.6L548.1,841.9z"/>
			<path class="st7" d="M585.9,873.1l-23.1,27.7l-5.5-4c0,0-5.2,15.5-18.5,31.4c-6.5,7.7-23.3,28.2-23.3,28.2l-6.5-5.4l69.9-83.7
				L585.9,873.1z"/>
			<path class="st8" d="M516.6,903.5c0,0,11.9,12-12.9,40.5C503.7,944,495.3,930.2,516.6,903.5z"/>
			<path class="st8" d="M556.7,893.7c0,0-20.6-18.6,1.6-45.4c0,0,15.5,10.6,20.8,18.5L556.7,893.7z"/>
		</g>
		<g>
			<defs>
				<path id="XMLID_11_" d="M508.8,798.1c-18.5-21.4-38.7-51.1-51.2-88.9c-13.2-39.8-17-92.2-2.2-149.4l-65.8-48.6
					c-11.8,60.6-26.1,200,60.1,306.9c13.8,17.1,30.1,33.3,49.5,48.3c4.6,3.6,9.4,7.1,14.4,10.5c0,0,28.2-10.8,38.5-38.9
					C552,838.1,531.7,824.5,508.8,798.1z"/>
			</defs>
			<use xlink:href="#XMLID_11_"  style="overflow:visible;fill:#5D6163;"/>
			<clipPath id="XMLID_13_">
				<use xlink:href="#XMLID_11_"  style="overflow:visible;"/>
			</clipPath>
		</g>
		<g id="body_x5F_top">
			<g id="torso">
				<defs>
					<path id="XMLID_24_" d="M380.3,253c0,0,7.6,39.4,17.1,228.9c0,0,49.8,22.7,142.3,4c0,0-1.1-56.9,10.8-107.7
						c0,0,14.3-97.1,1.8-124.6c-1.1-0.6-2.5-1.3-4.1-2.2c0,0-1.8,0.9-3,0.3c-41.8-20.3-93.3-17.1-93.3-17.1
						C421.5,236.6,396.9,245.3,380.3,253z"/>
				</defs>
				<use xlink:href="#XMLID_24_"  style="overflow:visible;fill:#FFDA44;"/>
				<clipPath id="XMLID_14_">
					<use xlink:href="#XMLID_24_"  style="overflow:visible;"/>
				</clipPath>
			</g>
			<g id="neck_1_">
				<path class="st11" d="M441.2,234c0,0-3.7,20.5-0.4,23.6c3.3,3.2,27.7,25.5,58.2,2.7c0,0,5.1-24.3,1.9-27.7
					c-3.2-3.4-7-10.9-27.7-10.6C452.5,222.3,442.4,225.9,441.2,234z"/>
				<path class="st4" d="M492.4,239.4c0,0,8.3-6.2-5.3-10.7L492.4,239.4z"/>
				<path class="st4" d="M451.3,238.4c0,0-8.3-6.2,5.3-10.7L451.3,238.4z"/>
				<path class="st5" d="M452.9,192.7l-0.9,37.9l-0.6,7.6c0,0,6,8.5,20.2,9c14.2,0.5,20.7-7.7,20.7-7.7l0.8-19.5l0.7-25.9
					L452.9,192.7z"/>
				<g id="neck">
					<path class="st5" d="M452.1,230.5l-0.6,7.6c0,0,4.6,6.5,15.2,8.5c1.5,0.3,4.2,21.4,6,21.5c1.8,0.1,2.4-21,4-21.2
						c10.8-1.3,15.7-7.5,15.7-7.5l0.8-19.5C475.9,228,459.1,231.4,452.1,230.5z"/>
					<path class="st12" d="M493.1,214.8l0.7-20.8l-40.9-1.4l-0.9,34.6C458.7,231.6,479.5,236.4,493.1,214.8z"/>
				</g>
			</g>
			<g id="butterfly">
				<path class="st4" d="M444.1,262.7c0,0-1.4-10,2.3-16.5c2.7-4.6,13.2,6.2,18.9,12.7c1.5-1.7,3.2-2.6,5-2.3
					c1.8,0.3,3.3,1.7,4.3,3.8c8.1-4.6,22.9-12.1,24.2-6.8c1.8,7.3-1.9,13.7-1.9,13.7l0,0c2.2,8.3,6.7,24.1-13.3,14.9l-11.3-4.9
					c-1.5,1.8-3.3,2.8-5.2,2.5c-1.7-0.2-3.2-1.6-4.1-3.6C417.1,285.1,444.1,262.7,444.1,262.7z"/>
				<g>
					<defs>
						<path id="XMLID_1_" d="M470.2,261.7c0,0,27.6-17.1,29.4-9.9s-1.9,13.7-1.9,13.7l0,0c2.2,8.3,4.4,24.6-13.3,14.9l-14.6-6.3"/>
					</defs>
					<use xlink:href="#XMLID_1_"  style="overflow:visible;fill:#FFF4C7;"/>
					<clipPath id="XMLID_16_">
						<use xlink:href="#XMLID_1_"  style="overflow:visible;"/>
					</clipPath>
					<circle class="st13" cx="497.1" cy="266.9" r="3.9"/>
					<circle class="st13" cx="483.7" cy="266.7" r="3.9"/>
					<circle class="st13" cx="475.8" cy="275.8" r="3.9"/>
					<circle class="st13" cx="470.7" cy="265.2" r="3.9"/>
					<circle class="st13" cx="489" cy="277.1" r="3.9"/>
					<circle class="st13" cx="494.8" cy="255.3" r="3.9"/>
					<circle class="st13" cx="479.9" cy="255.3" r="3.9"/>
				</g>
				<g>
					<defs>
						<path id="XMLID_2_" d="M470,261.7c0,0-19.1-23.7-22.8-17.2c-3.7,6.5-2.3,16.5-2.3,16.5s-26,25.1,22,12.9"/>
					</defs>
					<use xlink:href="#XMLID_2_"  style="overflow:visible;fill:#FFF4C7;"/>
					<clipPath id="XMLID_17_">
						<use xlink:href="#XMLID_2_"  style="overflow:visible;"/>
					</clipPath>
					<path class="st14" d="M474.6,267.7c-0.9,6.5-4.7,11.2-8.5,10.7c-3.8-0.5-5.6-6.2-4.7-12.6s5.7-9.7,9.5-9.2
						S475.5,261.3,474.6,267.7z"/>
					<circle class="st15" cx="453" cy="266.4" r="3.9"/>
					<circle class="st15" cx="445.1" cy="275.6" r="3.9"/>
					<circle class="st15" cx="440.1" cy="264.9" r="3.9"/>
					<circle class="st15" cx="458.3" cy="276.8" r="3.9"/>
					<circle class="st15" cx="460.3" cy="245.6" r="3.9"/>
					<circle class="st15" cx="452.5" cy="254.8" r="3.9"/>
					<circle class="st15" cx="447.4" cy="244.1" r="3.9"/>
					<circle class="st15" cx="465.7" cy="256" r="3.9"/>
				</g>
				<g>
					<defs>

							<ellipse id="XMLID_3_" transform="matrix(0.1392 -0.9903 0.9903 0.1392 140.2604 694.3369)" cx="469.5" cy="266.5" rx="11.8" ry="6.9"/>
					</defs>
					<use xlink:href="#XMLID_3_"  style="overflow:visible;fill:#FFF4C7;"/>
					<clipPath id="XMLID_18_">
						<use xlink:href="#XMLID_3_"  style="overflow:visible;"/>
					</clipPath>
					<circle class="st16" cx="469.7" cy="261.1" r="3.9"/>
					<circle class="st16" cx="461.9" cy="270.2" r="3.9"/>
					<circle class="st16" cx="475.1" cy="271.5" r="3.9"/>
					<circle class="st16" cx="469.2" cy="249.4" r="3.9"/>
					<circle class="st16" cx="482.4" cy="250.7" r="3.9"/>
				</g>
			</g>
		</g>
		<g id="right_x5F_arm">
			<g>
				<defs>
					<path id="XMLID_5_" d="M540.9,452.8c0,0-19.8,7.8-29,21.3c0,0-3.8,6.3,0.2,8.4c4.1,2.1,0.8,8.1,5.1,10.5
						c4.3,2.4,2.4,7.2,8.8,8.2c0,0,1.1,5,5.6,5.1c4.5,0.1,14.8,1.2,15.8-1.2c1.1-2.4,7.3-11.6,7-12.8c-0.3-1.2-1.2-2.9-4.8-2
						c0,0,3-2.2,5.7-5.9c2.7-3.7,4.5-11.5,4.5-11.5l1.1-21.3L540.9,452.8z"/>
				</defs>
				<use xlink:href="#XMLID_5_"  style="overflow:visible;fill:#FFEEE1;"/>
				<clipPath id="XMLID_19_">
					<use xlink:href="#XMLID_5_"  style="overflow:visible;"/>
				</clipPath>
				<path class="st17" d="M553.4,435l-14.8,16.3c0,0-0.6,17.1,21.1,25l11.5-9L553.4,435z"/>
			</g>
			<g>
				<path class="st6" d="M555.3,433.8l-14.4,15.8c0,0-0.6,19.1,20.5,26.7l11.1-11.2L555.3,433.8z"/>
				<path class="st11" d="M551,254.4c0,0,1.9,2,5.2,5.6c0.3,0.3,1.3,0.5,1.7,0.9c0.3,0.3-1,2.4-0.7,2.8c0.2,0.2,2.6,0.2,2.8,0.5
					c19.2,21.2,66.2,76,73.7,110.4c0,0,7.8,25.9-60.9,93.2c0,0-19.8,0.1-25.1-28.6l12.6-17.3c0.4-0.6,0.6-1.4,0.4-2.1l-0.2-0.7
					c0-0.1,0.1-0.2,0.2-0.2l3.2,0.9c0.1,0,0.2-0.1,0.2-0.2l-0.6-1.5c-0.1-0.2-0.1-0.5,0.1-0.7l28-38.3l-42-48.4
					C549.5,330.8,532.4,282.9,551,254.4z"/>
			</g>
		</g>
		<g id="head">
			<g id="face_1_">
				<g>
					<defs>
						<ellipse id="XMLID_4_" cx="425.2" cy="143.5" rx="10" ry="12.5"/>
					</defs>
					<use xlink:href="#XMLID_4_"  style="overflow:visible;fill:#FFEEE1;"/>
					<clipPath id="XMLID_20_">
						<use xlink:href="#XMLID_4_"  style="overflow:visible;"/>
					</clipPath>
					<path class="st18" d="M421.2,161.3l9.6-0.8v-34h-13.7c0,0,4.3,16.7,4.6,22.3C421.8,151.8,421.2,161.3,421.2,161.3z"/>
				</g>
				<path class="st19" d="M523.4,91.4c-3.4-11-44.7-22.2-44.7-22.2c-4.6-17.1-23.1-8.3-23.1-8.3c-30.4-21.3-61.3-0.8-55.6,28.7
					c3.4,17.4,16.7,21.8,16.7,21.8l5.1,16.2l84.5,32.1l16.3-23.7c0,0,1.5-27.3,1.1-41.4C523.9,94.6,523.6,93.1,523.4,91.4z"/>
				<path class="st5" d="M518.6,129.9l-6.9,11.9l-7.6-0.6c-0.1-6.8,2.9-17.3,3.2-24.6c0-0.6,6.5-10.3,6.5-10.3l-8.8,2.6
					c-22.1,0.5-40.3-5.7-52.3-11.4c-5.7,8.5-16.2,18.5-33,14.7c2.6,16.7,5.1,33.9,7,67.4c0.5,9,12.1,32.9,20.7,38
					c9,5.4,33.5,4,41.7-3.2c27.2-23.8,27.2-57.5,27.2-57.5s15.6,7,17.3-14.9C534.8,123.8,518.6,129.9,518.6,129.9z"/>
				<path class="st12" d="M439.3,120.8c12.4-1.8,18-15.4,17.3-18.6c0,0,24.2,10.4,48.4,6.7c-22.1,0.5-40.3-5.7-52.3-11.4
					c-5.7,8.5-16.2,18.5-33,14.7c0.2,1.2,0.4,2.3,0.5,3.5C422.9,117.7,429.8,122.1,439.3,120.8z"/>
				<g>
					<defs>
						<path id="XMLID_23_" d="M511.7,141.8l-7.6-0.6l-3.7,29.3c-26.2,8-65.2,3.6-74.4,2.7c-0.5,0-0.9,0.4-0.8,0.9
							c0.2,0.9,0.5,1.8,0.9,2.7c0.3,0.9,0.6,1.8,0.6,2.7c0.5,9,4.3,36.2,12.8,41.4c9,5.4,42.3,5.7,50.6-1.5
							c15.9-13.9,23.2-39.2,24.8-45.5c0.2-0.9,0.3-1.9,0.2-2.9L511.7,141.8z"/>
					</defs>
					<use xlink:href="#XMLID_23_"  style="overflow:visible;fill:#473828;"/>
					<clipPath id="XMLID_21_">
						<use xlink:href="#XMLID_23_"  style="overflow:visible;"/>
					</clipPath>
					<path class="st20" d="M491,181.5c17,29,27,56.9,27,56.9l9-7C527,231.5,513,194.5,491,181.5z"/>
					<path class="st20" d="M491.1,167c24,24,23,44.9,23,44.9l4-7C518.1,205,522,174,491.1,167z"/>
				</g>
				<path id="pupil_x5F_left" d="M441.6,149.6c0-1.9-1.5-3.3-3.3-3.3c-1.8,0-3.2,1.6-3.1,3.5c0,1.9,1.5,3.3,3.3,3.3
					C440.3,153,441.7,151.4,441.6,149.6z"/>
				<path id="pupil_x5F_right" d="M486.2,148.8c-0.1-2.7-2.1-4.8-4.6-4.7c-2.5,0.1-4.5,2.3-4.4,4.9c0.1,2.7,2.1,4.8,4.6,4.7
					C484.3,153.7,486.3,151.5,486.2,148.8z"/>
				<path id="eyebrow_x5F_left" class="st19" d="M443.5,118.6c2.4,0.6,3.9,4.6,4.4,6.7c0.8,3.4-15,16.1-16.4,15.3l-0.8-3.6
					C430.7,137,442.9,118.4,443.5,118.6z"/>
				<path id="eyebrow_x5F_right" class="st19" d="M471.8,116.4c0,0-2.5,5.5-2.4,7.6c0.1,3.5,18.9,11.3,20,10.2c0,0,2.2-2.3-0.2-3.7
					C486.8,129.2,471.8,116.4,471.8,116.4z"/>
				<g id="mouth_x5F_happy">
					<defs>
						<path id="XMLID_22_" d="M450.3,184H473c2.2,0,3.5,2.4,2.3,4.3l0,0c-3.2,4.8-8.6,7.7-14.4,7.7H460c-5.4,0-10.2-3.2-12.3-8.2
							l0,0C447,186,448.3,184,450.3,184z"/>
					</defs>
					<use xlink:href="#XMLID_22_"  style="overflow:visible;"/>
					<clipPath id="XMLID_25_">
						<use xlink:href="#XMLID_22_"  style="overflow:visible;"/>
					</clipPath>
					<path class="st21" d="M438.2,184c0,0,23,11,45.9,0l-22-3L438.2,184z"/>
					<rect x="445.1" y="179" class="st22" width="32" height="6"/>
				</g>
				<g id="cheek_x5F_left">
					<path class="st5" d="M432.2,158c0,0,5-10,12-2L432.2,158z"/>
					<path d="M431.2,158c0,0,7-7,15-2C446.1,156,436.2,146,431.2,158z"/>
				</g>
				<g id="cheek_x5F_right">
					<path class="st5" d="M477.1,160.5c0,0,5-10,12-2L477.1,160.5z"/>
					<path d="M476.1,160.5c0,0,7-7,15-2C491.1,158.5,481.1,148.6,476.1,160.5z"/>
				</g>
				<path id="glasses" d="M525.7,125.3c-0.8-1.7-2.9-2.5-4.6-1.6l-19.9,9.6c-4.8-1.2-21.4-4.5-40,3.2c-1.8,0.7-2.6,2.8-1.9,4.5
					c0.2,0.4,0.4,0.7,0.6,1l-2.5,0.2c0.2-0.3,0.4-0.7,0.5-1.1c0.5-1.9-0.6-3.8-2.5-4.2c-22.8-5.9-40.7,2.6-41.4,3
					c-1.7,0.8-2.5,2.9-1.6,4.6c0.7,1.5,2.3,2.2,3.8,1.9L416,153l0,0.1c0.5,7.8,3.8,16.9,16,16l9.8-0.7c4.9-0.3,8.8-2.1,11.3-5.2
					c2.8-3.4,3.8-8.2,3.1-13.7l-0.3-4.3l6-0.4l0.3,4.2c0,5.7,1.8,10.3,5,13.2c3,2.7,7,3.9,11.9,3.6l9.8-0.7
					c12.2-0.9,14.1-10.3,13.6-18.1l-1-6.6l0.4,0.1l22.3-10.8C525.8,129.1,526.5,127,525.7,125.3z M450.7,161.4
					c-2,2.5-5.1,3.8-9.2,4.1l-9.8,0.7c-8,0.6-12.1-3.6-12.8-13.2l0.1-7.8c5-1.8,18.1-5.6,33.6-1.8l0,0.6c0,0,0,0,0,0c0,0,0,0,0,0
					l0.4,5.8C453.6,153.2,453.5,157.9,450.7,161.4z M488.5,162.2l-9.8,0.7c-4.1,0.3-7.4-0.7-9.7-2.8c-3.3-3-4-7.7-4-11.2l-0.4-6.4
					c14.8-5.8,28.3-4,33.5-2.8l1.2,7.7C500,157,496.5,161.7,488.5,162.2z"/>
				<g id="nose_1_">
					<path class="st5" d="M458.2,152c-3.8,4.2-24,21,2,18C463.9,169.1,466.8,165.6,458.2,152z"/>
					<path id="nose" d="M458.2,152c0,0-2.5,1.9-5.2,4.5c-6.3,6-13.9,15.5,4.2,13.5C457.2,170,439.4,168.7,458.2,152z"/>
				</g>
				<path id="hair" class="st19" d="M524,95.5c2.8-6.3,8-7.6,8-7.6c-1.8-2.7-5.9-2.5-8.5-2.1c0,0-7.5,0.8-7.6,4.4
					C514.8,114.9,524,95.5,524,95.5z"/>
			</g>
		</g>
	</g>
	<g id="chair">
		<g id="head-rest">
			<path class="st23" d="M202,615.3l-2.4,1.7c-3,2-7,1.3-9-1.7l-48.1-70.1c-2-3-1.3-7,1.7-9l2.4-1.7c3-2,7-1.3,9,1.7l48.1,70.1
				C205.7,609.2,204.9,613.3,202,615.3z"/>
			<path class="st23" d="M267.6,608l-2.4,1.7c-3,2-7,1.3-9-1.7L208,537.8c-2-3-1.3-7,1.7-9l2.4-1.7c3-2,7-1.3,9,1.7l48.1,70.1
				C271.3,601.9,270.5,605.9,267.6,608z"/>
			<path class="st24" d="M233.6,486c-17-24.2-39.6-36.4-54.5-33.8c-5.5,1-89.5,5.6-101.5,14.1c-13.7,9.6-9.4,39.3,9.6,66.3
				c16.5,23.5,43.5,36.2,59,31.6c2.4-0.7,89.6-11.1,101.9-19.7C261.8,534.9,252.6,513,233.6,486z"/>
			<path d="M136.8,497.8c19,27,29.4,53.8,15.7,63.4c-13.7,9.6-46.3-1.6-65.2-28.6c-19-27-23.3-56.7-9.6-66.3
				S117.8,470.8,136.8,497.8z"/>
		</g>
		<path d="M509.5,916.5l-141,8.6l-8.2,52.7c-1.5,9.7,4.6,18.9,14.1,21.3l131.6,26.9c7.9,2,16.2-1.3,20.6-8.1l9.4-14.6
			c3.3-5.2,3.9-11.7,1.6-17.4L509.5,916.5z M494.4,1007.1l-112.1-19.6c-4.8-1-8-5.6-7.3-10.5l2.8-18.9c1.2-8.7,9.5-21.2,18.2-21.5
			l88.8-3c7.9-0.3,15.1,4.7,17.6,12.2l12.9,37.9c1.6,4.8,1.2,10.2-1.4,14.6h0C510.1,1005.3,502.2,1008.8,494.4,1007.1z"/>
		<path d="M611.2,904.2l-141,8.2l-8.2,48.7c-1.5,9.3,4.6,18.1,14.1,20.4l131.6,27.5c7.9,1.9,16.2-1.2,20.6-7.8l9.4-14
			c3.3-5,3.9-11.2,1.6-16.7L611.2,904.2z M596.2,991.1l-112.1-20.5c-4.8-1-8-5.4-7.3-10l2.8-18.1c1.2-8.3,9.5-18.6,18.2-18.9
			l88.8-2.9c7.9-0.3,15.1,4.5,17.6,11.7l12.9,36.3c1.6,4.6,1.2,9.7-1.4,14l0,0C611.8,989.3,603.9,992.7,596.2,991.1z"/>
		<polygon points="368,899.1 368.5,925.1 509.5,925.1 613.7,911.6 613.7,857.7 		"/>
		<g>
			<defs>
				<path id="XMLID_9_" d="M495.7,829.6l-23.5-75.1c-1.2-3.9-3.4-7.4-6.4-10.1l-122-113.9c-1.4-1.4-2.7-2.9-3.8-4.5l-34.9-54.9
					c-4-6.3-10.8-10.3-18.3-10.8h0c-10.4-0.7-18.8,5.2-22.7,13.4c-1.3,2.7-87.8,15.8-87.8,15.8c-4-6.3-10.8-10.3-18.3-10.8h0
					c-19.1-1.2-31.5,19.7-21.3,35.9l165,262.2c6,9.6,18,13.5,28.5,9.3c0,0,118.2-14.2,128.7-18.4l23-9.2
					C493.4,853.8,499.3,841.3,495.7,829.6z"/>
			</defs>
			<use xlink:href="#XMLID_9_"  style="overflow:visible;fill:#515151;"/>
			<clipPath id="XMLID_26_">
				<use xlink:href="#XMLID_9_"  style="overflow:visible;"/>
			</clipPath>
			<g class="st25">
				<defs>
					<path id="XMLID_10_" d="M250.9,559.8l9.8,14.7c0,0,27-7.4,33.1,1.2c6.1,8.6,33.1,58.8,33.1,58.8l127.5,121.4l27,78.5
						l-134.8,58.8L146.3,580.9L250.9,559.8z"/>
				</defs>
				<use xlink:href="#XMLID_10_"  style="overflow:visible;opacity:0.25;fill:#FFFFFF;"/>
				<clipPath id="XMLID_27_">
					<use xlink:href="#XMLID_10_"  style="overflow:visible;opacity:0.25;"/>
				</clipPath>
				<path class="st26" d="M310.2,592.5c0,0,16.3,41.8-71,65.4c0.7-0.2,104.6-28.7,104.6-28.7L310.2,592.5z"/>
			</g>
			<polygon class="st27" points="464,752.4 272.5,805.4 346.9,894.1 488.5,845.2 			"/>
		</g>
		<path d="M158.1,578.6L158.1,578.6c7.5,0.5,14.3,4.5,18.3,10.8l34.9,54.9c1.1,1.7,2.3,3.2,3.8,4.5l122,113.9
			c3,2.8,5.2,6.3,6.4,10.1L367,848c3.7,11.7-2.3,24.2-13.7,28.8l-23,9.2c-10.5,4.2-22.5,0.3-28.5-9.3l-165-262.2
			C126.6,598.3,139,577.4,158.1,578.6z"/>
		<path class="st0" d="M640.5,820L610,805.3c-3.8-1.8-23.1,8.3-56.1,12.3c-39.9,4.8-89.8,1.6-94.3,4L367,868.7l-18,24
			c-6.1,8.1,0.5,19.5,10.5,18.4l142.6-16c5.2-0.6,128.7-18.4,128.7-18.4c10.1-1.1,19-7.3,23.5-16.5
			C661.6,845.3,655.4,827.3,640.5,820z"/>
		<ellipse transform="matrix(0.9126 -0.4089 0.4089 0.9126 -323.8612 216.1043)" cx="343.5" cy="865.6" rx="28.7" ry="36.5"/>
		<path d="M349,892.7l18-24l87.7-44.7c8.3-4.2,18.2-4.4,26.6-0.3l30.5,14.7c15,7.2,21.2,25.3,13.8,40.2v0
			c-4.5,9.1-13.3,15.3-23.5,16.5l-142.6,16C349.5,912.2,342.9,900.8,349,892.7z"/>
		<g>
			<g>
				<defs>
					<path id="XMLID_8_" d="M381.5,845.2l16.1,20.8c0.8,1,2,1.6,3.3,1.6h30c1.1,0,2.1-0.4,2.9-1l5.1-4c1.6-1.2,2.1-3.5,1.1-5.3
						l-14.6-26.5L381.5,845.2z"/>
				</defs>
				<use xlink:href="#XMLID_8_"  style="overflow:visible;"/>
				<clipPath id="XMLID_28_">
					<use xlink:href="#XMLID_8_"  style="overflow:visible;"/>
				</clipPath>
				<polygon class="st28" points="433.5,869.6 413.1,836 426.3,827.8 444.7,860.4 				"/>
			</g>
			<g>
				<path class="st11" d="M421.2,827.9l-32.3,6.1c-0.6,0.1-1.2,0.4-1.6,0.8l-5.7,5.1c-1.5,1.3-1.5,3.6-0.1,4.9l0,0l35-6.6l9.1-8.1
					l-1.3-1.3C423.4,828.1,422.3,827.7,421.2,827.9z"/>
				<path class="st6" d="M420.3,830l-6.3,5.6c-0.1,0.1-0.3,0.2-0.5,0.2l-31.3,5.9c-1,0.2-1.6-1-0.8-1.7l6.3-5.6
					c0.1-0.1,0.3-0.2,0.5-0.2l31.3-5.9C420.4,828.1,421,829.3,420.3,830z"/>
			</g>
		</g>
	</g>
	<g id="cone">
		<polygon class="st29" points="370.2,1020.7 296.8,967.5 73.8,976.1 74.2,987.3 137.5,1041 370.7,1031.9 		"/>
		<polygon class="st30" points="370.2,1020.7 137.1,1029.8 73.8,976.1 296.8,967.5 		"/>
		<polygon class="st8" points="137.1,1029.8 137.5,1041 74.2,985.3 73.8,976.1 		"/>
		<polygon class="st31" points="137.1,1029.8 297.8,967.4 370.2,1020.7 		"/>
		<g>
			<defs>
				<path id="XMLID_7_" d="M201.4,707.4L137,1002.2l1,0.2c52.6,11.8,107.4,9.6,158.9-6.4h0l-74-289.5c-0.8-3-3.6-5.1-6.8-5l-8.4,0.3
					C204.6,702,202,704.3,201.4,707.4z"/>
			</defs>
			<use xlink:href="#XMLID_7_"  style="overflow:visible;fill:#FFB345;"/>
			<clipPath id="XMLID_29_">
				<use xlink:href="#XMLID_7_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st32" d="M278.5,879.4c-19.1,2.4-41.7,4.2-65.9,5.1c-24.2,0.9-46.8,0.9-66.1,0c-36.1,4.5-59.7,21.1-59.4,27.3
				c0.4,9.6,57.3,15.1,127.1,12.4c69.8-2.7,126.1-12.7,125.7-22.2C339.6,895.8,314.8,881,278.5,879.4z"/>
			<polygon class="st33" points="210.2,681.2 278.4,1044.6 322.6,1002.1 217.4,683 			"/>
			<path class="st32" d="M279.8,783.5c-19.1,2.4-41.7,4.2-65.9,5.1c-24.2,0.9-46.8,0.9-66.1,0c-36.1,4.5-59.7,21.1-59.4,27.3
				c0.4,9.6,57.3,15.1,127.1,12.4c69.8-2.7,126.1-12.7,125.7-22.2C340.9,799.9,316.2,785.1,279.8,783.5z"/>
		</g>
	</g>
</g>
</svg>
