@import "../../sass/screen";

.cta{
  width: 300px;
  max-width: 80vw;
  margin: auto;
  margin-top: 1em;
  .cta-btn{
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;
  }
}


@include breakpoint($breakpoint_tablet , min){
  .cta{
    margin: 0;
      margin-top: 3em;
  }

  .intro_text{
    h1, p {
      text-align: left;
    }
  }

  .container .content{
    flex-direction: row;
  }

}
