<div class="container">
    <div class="content">
      <div class="graphic">
        <app-home-animation></app-home-animation>
      </div>
      <div class="intro_text">
        <div>
          <h1>HOLD TIL HØJRE</h1>
          <p>Er du ikke altid lige god til at holde til højre, når du kører bil?<br> Få hjælp af vores trafikpsykolog.</p>
          <div class="cta">
            <div class="cta-icon">
                <img src="assets/img/board.png" alt="board">
            </div>
            <button class="cta-btn" routerLink="/chat" (click)="startChat()">KOM I GANG</button>
          </div>
        </div>
      </div>
    </div>
  </div>
