/* VARIABLES - UNIVERSAL MIXINS*/
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}
@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
          transition: $transition;
}
@mixin user-select($user-select) {
  -webkit-user-select: $user-select;
     -moz-user-select: $user-select;
      -ms-user-select: $user-select;
          user-select: $user-select;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin blur($blur) {
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

@mixin background-gradient($direction, $color-1, $color-2){
  background: $color-1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($direction, $color-1, $color-2); /* For Safari 5.1 to 6.0 - inverted*/
  background: -o-linear-gradient($direction, $color-1, $color-2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($direction, $color-1, $color-2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to $direction, $color-1, $color-2); /* Standard syntax */
}

@mixin position-center($direction: absolute, $position: absolute, $percent: 50%, $percent_x: $percent) {
  @if $direction == vertical {
    position: $position;
    top: $percent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @else if $direction == horizontal {
    position: $position;
    left: $percent;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  @else {
    position: absolute;
    top: $percent;
    left: $percent_x;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@mixin animation($name, $duration: 5s, $ease: ease, $loop: infinite, $fill: forwards){
  -webkit-animation-name: $name;
          animation-name: $name;
  -webkit-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-transition-timing-function: $ease;
          transition-timing-function: $ease;
  -webkit-animation-fill-mode: $fill;
          animation-fill-mode: $fill;
  -webkit-animation-iteration-count: $loop;
          animation-iteration-count: $loop;
}

@mixin breakpoint($breakpoint: $breakpoint_tablet, $min: max) {
  @if $min == min {
    $breakpoint_min: $breakpoint - 1;
    @media (min-width: $breakpoint_min) { @content ; }
  }
  @else {
     @media (max-width: $breakpoint)  { @content ; }
  }
}

@mixin default-styling(){

  //font smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;

  *:focus {
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  div {
    box-sizing: border-box;
  }
}

@mixin clearfix(){
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
