{% extends "registration.html" %}

{% block title %}
    Login i BannerCMS
{% endblock %}


{% block content_registration %}
    {% if form.errors %}
        <p>Brugernavn og password matcher ikke. Indtast venligt igen.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Din brugerkonto har ikke adgang til at se dette indhold. Kontakt en administrator for hjælp.</p>
        {% else %}
        <p>Login for at se denne side.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-row-table">
            <div class="input-row">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="input-row">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            <input type="hidden" name="next" value="{{ next }}"/>

            <div class="input-table-menu free">
                <a class="button-left" href="{% url 'password_reset' %}">Mistet kodeord?</a>
                <button class="button-right checkmark" type="submit">Login</button>
            </div>
        </div>


    </form>




{% endblock %}