{% extends "registration.html" %}

{% block title %}Email afsendt{% endblock %}

{% block content_registration %}

    <p>Vi har sent en email, med instrukser for at nulstille dit kodeord - Hvis vi har fundet en konto, der matcher din indtasted email.</p>

    <p>Hvis du ikke modtager en email, tjek venligst at det er den rigtige adresse du har indtastet, og se i din Spamfolder</p>

{% endblock %}