{% extends "registration.html" %}

{% block title %}
    Bekræft nulstilling af kodeord
{% endblock %}

{% block content_registration %}

    {% if validlink %}

        <p>Indtast dit nye kodeord to gange.</p>

        <form method="post">
            {% csrf_token %}

            <div class="input-row-table">
                <div class="input-row">
                    <label>Nyt kodeord:</label>
                        {{ form.new_password1 }}

                        {% if form.new_password1.errors %}
                            <div class="error">{{ form.new_password1.errors }}</div>
                        {% endif %}
                </div>
                <div class="input-row">
                    <label>Bekræft kodeord:</label>
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <div class="error">{{ form.new_password2.errors }}</div>
                        {% endif %}
                </div>
                <div class="input-table-menu free">
                    <button class="button-right checkmark"type="submit">Skift mit kodeord</button>
                </div>
            </div>
        </form>

    {% else %}

    <p>Linket er desværre ugyldigt, muligvis fordi det allerede har været i brug.  Prøv venligst at nulstille kodeordet igen.</p>

    {% endif %}

{% endblock %}