{% extends "registration.html" %}

{% block content_registration %}
        
{% block title %}
    Skift kodeord
{% endblock %}

<div id="content-main">

    <form method="post">
        {% csrf_token %}

        <div>
            {% if form.errors %}
                <p class="errornote">
                Ret venligst nedenstående fejl
                </p>
            {% endif %}

            <p>Indtast dit gamle password, og derefter det nye password to gange</p>

            <div class="input-row-table">
                <div class="input-row">
                    <label>{{ form.old_password.label_tag }}</label>
                        {{ form.old_password }}
                    <div class="error">{{ form.old_password.errors }}</div>
                </div>
                <div class="input-row">
                    <label>{{ form.new_password1.label_tag }}</label>
                        {{ form.new_password1 }}

                    {% if form.new_password1.errors %}
                        <div class="error">{{ form.new_password1.errors }}</div>
                    {% endif %}
                    {% if form.new_password1.help_text %}
                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                    {% endif %}
                </div>
                <div class="input-row">
                    <label>{{ form.new_password2.label_tag }}</label>
                        {{ form.new_password2 }}

                        {% if form.new_password2.errors %}
                            <div class="error">{{ form.new_password2.errors }}</div>
                        {% endif %}
                        {% if form.new_password2.help_text %}
                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                </div>

                <div class="input-table-menu">
                    <button type="submit">Skift password</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}