{% extends "registration.html" %}


{% block title %}
    Glemt kodeord?
{% endblock %}

{% block content_registration %}

    <p>Skriv din email addrese herunder, og du vil modtage info om hvordan du nulstiller dit kodeord.</p>

    <form method="post">
        {% csrf_token %}

        <div class="input-row-table">
            <div class="input-row">
                <label>Email</label>
                    {{ form.email }}

                {% if form.email.errors  %}
                    <div class="error">{{ form.email.errors  }}</div>
                {% endif %}
            </div>
            <div class="input-table-menu free">
                <button class="button-right checkmark" type="submit">Nulstil kodeord</button>
            </div>
        </div>
    </form>

{% endblock %}