@-ms-keyframes draw-around {
    0% {
      stroke-dashoffset: 640;
    }
    10% {
      stroke-dashoffset: 640;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes draw-around {
    0% {
      stroke-dashoffset: 640;
    }
    10% {
      stroke-dashoffset: 640;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes draw-around {
    0% {
      stroke-dashoffset: 640;
    }
    10% {
      stroke-dashoffset: 640;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

// Keyframe bot typing
@keyframes typing{
    0% {opacity: 0.3;}
    100% {opacity: 1;}
}