/* VARIABLES - COLORS */

//colors
$color_yellow: #ffda44;
$color_yellow_light: lighten($color_yellow, 10%);
$color_black: #000;
$color_white: #fff;
$color_grey: #e5f0f7;
$color_grey_tranparent: transparentize($color_grey, 1);
$color_grey_light: lighten($color_grey, 5%);
$color_grey_dark: darken($color_grey, 50%);
$color_grey_blue: #7e94a2;
$color_vd_grey: #606264;

//color use-cases
$color_background: $color_grey;
$color_background_light: lighten($color_background, 10% );
$color_highlight: $color_yellow;
$color_highlight_subtle: lighten($color_highlight, 35% );
$color_highlight_subtle_dark:darken($color_highlight_subtle, 70% );

/* VARIABLES - TYPOGRAPHY*/
$font_primary: 'Titillium Web', sans-serif;

/* VARIABLES - EFFECTS */

$transition_hover: 250ms;
$transition_menu: 350ms;
$shadow_subtle: 0 0 6px rgba(0,0,0,0.08), 0 0 6px rgba(0,0,0,0.12);
$shadow_standard: 0px 2px 4px darken($color_background, 10%);
$border-radius: 0px;
$opacity_hover: 0.75;


/* VARIABLES - SIZES */

$edge: 10px;
$edge_outer: 15px;
$band_margin: 120px;

$line-height: 1.15em;


$height_header: 44px;
$height_header_mobile: 45px;
$height_footer: 105px;
$height_footer_mobile: 50px;


//breakpoints
$breakpoint_laptop_large: 1920px;
$breakpoint_laptop_medium: 1280px;
$breakpoint_laptop: 960px;
$breakpoint_tablet: 768px;
$breakpoint_phablet: 650px;
$breakpoint_mobile: 480px;
