body{
    @include default-styling();
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;

    font-family: $font_primary;
}
input{
  font-family: $font_primary;


}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: $color_grey;

    .content{
      width: 100%;
      padding: 0 10% 0 40%;
      height: 100%;
      position: relative;
      overflow-y: scroll;

      @include breakpoint(){
        width: 100%;
        padding: 5%;
      }

      .dialog-box {
        width: 100%;
        min-height: 80vh;
        position: relative;
        margin-bottom: 100px;
        bottom: 0;
        display: flex;
        justify-content: flex-end;

        .messages-box{
          //height: calc(100vh - 100px);
          //bottom: 0px;
          width: 100%;
          bottom: 10%;
          position: absolute;
          max-height: 70vh;
          overflow-y: scroll;
          padding: 0 20px;

          ul#display-message{
            width: 100%;
            min-height: 100px;
            margin: 0;
            padding: 0;
            //margin-bottom: 60px;
            list-style: none;

            li{
              display: flex;
              margin: $edge/2 0;

              &.msg {
                @include transition (300ms);
                @include transform (translateY(10px));
                opacity: 0;
                p {
                  max-width: 50%;
                  /*min-width: 5%;*/
                }
                &.user-msg{
                  justify-content: flex-end;
                  p{
                    background: $color_yellow_light;
                    color: $color_black;
                    border: 20px solid $color_yellow_light;
                    border-radius: 20px;
                  }
                }
                &.bot-msg{
                  justify-content: flex-start;
                  p{
                    background: $color_white;
                    color: $color_black;
                    border: 20px solid $color_white;
                    border-radius: 20px;
                  }
                }
                &.visible{
                  opacity: 1;
                  @include transform (translateX(0px));
                }
              }

              &:last-child.msg.bot-msg p{
                border-radius: 20px 20px 20px 0;
              }
            }
          }
          #type-message{
            width: 100px;
            height: 25px;
            border-radius: 15px;
            //background: $color_grey_dark;           
            background: $color_white; 
            position: relative;
            margin: 0 auto;         
            justify-content: center;
            align-items: center;
            display: flex;
            @include transition(150ms);
            opacity: 0;
            //bottom: 60px;

            &.typing {
                opacity: 1;
                @include transform(translateY(-10px));
            }

            .dot{
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: $color_yellow_light;
              margin: 0 4px;
              &.typing-dot-1{
                animation: typing 1.5s ease 0ms infinite;
              }
              &.typing-dot-2{
                animation: typing 1.5s ease 375ms infinite;
              }
              &.typing-dot-3{
                animation: typing 1.5s ease 750ms infinite;
              }
              &.typing-dot-4{
                animation: typing 1.5s ease 1125ms infinite;
              }
            }
          }
        }
        #chat-box{
          width: 100%;
          position: absolute;
          bottom: 0;
          background-color: $color_white;
          border-radius: 20px;
          transition: opacity 0.5s;
          &.hide{
            opacity: 0.3;
          }

          input.input-message{
            font-size: 18px;
            margin: 0;
            padding: 0;
            border: none;
            float: left;
            height: 30px;
            background-color: $color_white;
            border-radius: 20px;
            padding: 1.5em 1em;
            line-height: 1em;
            box-sizing: border-box;
            width: calc(80% - (#{$edge} + #{$edge}));
          }

          .submit-message{
            position: absolute;
            top: 10px;
            right: 10px;
            height: calc(100% - 20px);
            border-radius: 10px;
            width: 20%;
            color: $color_white;
            text-transform: uppercase;
            text-shadow: 2px 2px 0px darken($color_yellow, 25%);
            background-color: $color_yellow;
            border: none;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            //text-transform: uppercase;
            &.hide{
              cursor: default;
            }
          }
        }
      }

    }
}

#select-box{
  /*
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  */
  min-width: 20%;
  opacity: 0;
  @include transition (300ms);
  @include transform (translateY(10px));
  &.visible{
    opacity: 1;
    @include transform (translateX(0px));
  }
}
.checkBox{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid #ffda44;
  background: #fff;
}
.selection{
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  margin: 5px 0;
  //width: 30%;
  width: 50%;
  p{
    margin: 0 3%;
    padding: 0;
    font-weight: 600;
    max-width: 50%;
  }
  &:hover > :after{
    position: absolute;
    width: 90%;
    height: 100%;
    top: -3px;
    left: 0;
    content: "";
    border: 3px dashed #ffda44;
    cursor: pointer;
  }
}

@keyframes typing{
    0% {opacity: 0.3;}
    100% {opacity: 1;}
}



// SVG Check mark animation
#m-check-mark {
  position: absolute;
  top: 11px;
  left: 19px;
  width: 30px;
  height: auto;
  display: inline;
}

#checkmark {
  stroke-dasharray: 640;
    stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: draw-around 1s forwards;
      -ms-animation: draw-around 1s forwards;
          animation: draw-around 1s forwards;
}
@-ms-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}