/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

 .graphic #graphic-overlay {
   background: url('assets/img/result_board.png') !important;
 }
 #m-check-mark {
   top: 5px;
 }
