html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent; 
}

body{
    @include default-styling();
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    position: relative;


    font-family: $font_primary;
    background: $color_grey;
}
input{
  font-family: $font_primary;
}
h1{
  font-size: 40px;
  line-height: 1.1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
p{
  font-size: 18px;
}
button {
  font-family: $font_primary;
}
#menu {
  width: 100%;
  background-color:$color_vd_grey;
  padding: $edge;
  color: $color_white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  z-index: 100;
  font-size: 14px;
  box-sizing: border-box;
  height: $height_header;
  line-height: 1.1em;

  .right-side-nav {
    text-align: left;
    @include position-center("vertical");
    left: 20px;
    display: none;

    @include breakpoint($breakpoint_phablet , min){
      position: absolute;
      text-align: right;
      right: 20px;
      width: auto;
      display: block;
    }
  }

  .left-side-nav {
    position: absolute;
    width: 100%;
    left: 0;
    margin-left: 0px;
    background-color: $color_vd_grey;
    padding: $edge;
    padding-left: 36px;
    text-align: left;
    color: $color_white;
    font-size: 12px;
    
    @include position-center("vertical");
    img.top-logo {
      display: block;
      position: absolute;
      right: 20px;
      right: 20px;
      height: 26px;
      top: 4px;

    }
    img.arrow {
      position: absolute;
      width: 1.1em;
      @include position-center("vertical");
      left: 20px;
    }

    @include breakpoint($breakpoint_phablet , min){
      font-size: 16px;
      left: 20px;
      padding: 0;
      background-color: transparent;
      margin-left: 20px;
      width: auto;

      img.top-logo {
        display: none;
      }
      img.arrow {
        left: -1.2em;
      }
    }
  }
}

#logo {
  position: fixed;
  bottom: $edge*2;
  right: $edge*3;
  z-index: 5;
  width: 155px;
  display: none;
}

#cookie-alert {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 10000;
  #cookie-cover {
    width: 100%;
    height: 100%;
    background-color: transparentize($color_black, 0.25);
  }
  #cookie-box{
    width: auto;
    height:auto;
    max-width: 300px;
    line-height: 1.45em;
    @include position-center();
    background-color: $color_white;
    border-radius: 20px;
    border: 20px $color_white solid;

    .cookie-description {

      margin-bottom: 20px;
      text-align: center;

      a {
        font-weight: bold;
        &:hover {
          color: $color_yellow;
        }
      }
    }

    #cookie-img {
      width: 100px;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
    }
    #cookie-accept{
      margin: 0 auto;
      display: block;
      margin-bottom: 14px;
    }
    #cookie-logo {
      width: 130px;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
    }

  }
}
.wrapper{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.container{
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  background: $color_grey;
    .content{
      width: 100%;
      min-height: 100vh;
      padding: 0%;
      display: flex;
      position: relative;
      flex-direction: column-reverse;
      overflow-y: scroll;
    }
}

.cta{
  position: relative;
  margin-top: 10%;
}
.cta-btn{

    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background: $color_yellow;
    text-shadow: 2px 2px 0px darken($color_yellow, 25%);
    color: $color_white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
    @include transition(300ms ease);

    &:hover {
      background-color: darken($color_yellow, 10%);
    }

    &:first-child{
      margin-right: 10px;
    }
  }
.cta-icon{
  position: absolute;
  top: -0.5rem;
  left: -1.3rem;
  width: 5rem;
  img{
      width: 100%;
  }
}

.graphic , .intro_text{
  width: 100%;
}
.graphic{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  z-index: 2;
  @include breakpoint($breakpoint_tablet , min){
    height: 100vh;
  }
  img {
    padding: 1.8rem 4rem;
    width: 50vw;
    overflow: hidden;
    z-index: 2;
  }
  app-home-animation {
    z-index: 2;
    svg {
      padding: 0;

      overflow: hidden;
      z-index: 2;
      height: 48vh;

      #cord {
        display: none;
      }

      @include breakpoint($breakpoint_tablet , min){
        width: 50vw;
        max-width: 35vh;
        max-height: 90vh;
        height: 90vh;
      }
    }
  }
}
.graphic::before{
  position: absolute;
  width: 100%;
  height: 10vh;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  background: #f9fdff;
}
.intro_text{
  padding: 0 50px;
  margin-top: $height_header + 35px;
  position: relative;
  height: calc(50vh - #{$height_header} - 35px);
  @include breakpoint($breakpoint_tablet , min){
    height: 100vh;
  }

  h1, p {
    text-align: center;
  }

  &>div {
    width: calc(100% - 100px);
    box-sizing: border-box;
    @include position-center(vertical);
  }
}

.psyk-animation{
  width: 100%;
  position: absolute;
  .animation-container{
    max-height: 50vh;
    height: 51vw;
    width: 80%;
    bottom: -7vh;
    @include position-center("horizontal", absolute, 55%);
    max-width: 1250px;
  }
}
#select-box{
  min-width: 20%;
  opacity: 0;
  @include transition (300ms);
  @include transform (translateY(10px));
  &.visible{
    opacity: 1;
    @include transform (translateX(0px));
  }
}
.checkBox{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid #ffda44;
  background: #fff;
}

.selection , .inputSelection{
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
  width: 100%;
  margin-left: 0;
  padding: 0.5em;

  @include breakpoint($breakpoint_phablet , min){
    padding: 1rem;
    width: 85%;
    margin-left: 15%;
  }
  p{
    margin: 3px 5px;
    padding: 0;
    font-weight: 600;
    max-width: calc(100% - 50px);
    cursor: pointer;

    @include breakpoint($breakpoint_phablet , min){
      margin: 0 5px;
    }

  }
  &:hover > :after{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    top: 0px;
    left: 0;
    content: "";
    border: 3px dashed #ffda44;
    cursor: pointer;
  }
}
.selection:hover > :after{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  border: 2px dashed $color_yellow;
  cursor: pointer;
}

#endChatMessage{
  width: 100%;
  height: 100%;
  margin-top: 15%;
  transform: translateY(500px);
  opacity: 0;
  display: none;
  transition: 1000ms;
  &.visible{
    display: block;
    opacity: 1;
    transform: translateY(0px);
  }
}
.dialog-box {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  margin-left: calc(5% - 20px);
  @include breakpoint($breakpoint_phablet , min){
    margin-left: auto;
  }

  &::-webkit-scrollbar {
   display: none;
  }

  p{
    font-size: 12px;
    line-height: 1.45em;
  }
  &::after {
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 45vw;
    left: 0;
    @include background-gradient("top", $color_grey, $color_grey_tranparent);
    background: -moz-linear-gradient(top, $color_grey_tranparent 0%, $color_grey 100%); 
    background: -webkit-linear-gradient(top, $color_grey_tranparent 0%,$color_grey 100%); 
    background: linear-gradient(to bottom, $color_grey_tranparent 0%,$color_grey 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_grey_tranparent, endColorstr=$color_grey,GradientType=0 ); 
  }
  .messages-box{
    width: 100%;
    bottom: 45vw;
    position: absolute;
    max-height:  calc(100vh - 45vw);
    overflow-y: scroll;
    padding: 0 20px;
    transition: all 0.5s;
    &::-webkit-scrollbar {
     display: none;
    }


    ul#display-message{
      width: 100%;
      min-height: 100px;
      margin: 0;
      padding: 0;
      list-style: none;

      li{
        display: flex;
        margin: $edge/2 0;

        &.msg {
          @include transition (300ms);
          @include transform (translateY(10px));
          opacity: 0;
          p {
            max-width: 75%;
          }
          &.user-msg{
            justify-content: flex-end;
            p{
              background: $color_yellow_light;
              color: $color_black;
              border: 14px solid $color_yellow_light;
              border-radius: 12px;
              margin: 0.25em 0;
              @include breakpoint($breakpoint_phablet , min){
                border: 18px solid $color_yellow_light;
                border-radius: 18px;
              }
            }
          }
          &.bot-msg{
            justify-content: flex-start;
            p{
              background: $color_white;
              color: $color_black;
              border: 14px solid $color_white;
              border-radius: 12px;
              z-index: 2;
              margin: 0.25em 0;
              @include breakpoint($breakpoint_phablet , min){
                border: 18px solid $color_white;
                border-radius: 18px;
              }

            }
          }
          &.visible{
            opacity: 1;
            @include transform (translateX(0px));
          }
        }

        &:last-child.msg.bot-msg p{
          border-radius: 18px 18px 18px 0;
        }
        &:first-child.msg.bot-msg p{
          margin-top: 25vh;
        }
      }
    }
    #type-message{
      width: 100px;
      height: 25px;
      border-radius: 15px;
      background: $color_white;
      position: relative;
      margin: 15px auto 0;
      justify-content: center;
      align-items: center;
      display: flex;
      @include transition(150ms);
      opacity: 0;

      &.typing {
          opacity: 1;
          @include transform(translateY(-10px));
      }

      .dot{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $color_yellow_light;
        margin: 0 4px;
        &.typing-dot-1{
          animation: typing 1.5s ease 0ms infinite;
        }
        &.typing-dot-2{
          animation: typing 1.5s ease 375ms infinite;
        }
        &.typing-dot-3{
          animation: typing 1.5s ease 750ms infinite;
        }
        &.typing-dot-4{
          animation: typing 1.5s ease 1125ms infinite;
        }
      }
    }
  }
  #chat-box{
    width: 100%;
    position: relative;
    background-color: $color_white;
    border-radius: 20px;
    transition: opacity 500ms;
    margin-bottom: 10px;
    &.hide{
      opacity: 0;
    }
    &.swipeDown{
      display: none;
    }


    input.input-message{
      font-size: 16px;
      margin: 0;
      padding: 0;
      border: none;
      background-color: $color_white;
      border-radius: 14px;
      padding: 9px 1em;
      box-sizing: border-box;
      width: 100%;
      &:focus{
        font-size: 16px;
        @include breakpoint($breakpoint_phablet , min){
          font-size: 18px;
        }
      }
      @include breakpoint($breakpoint_phablet , min){
        font-size: 18px;
        border-radius: 20px;
        padding: 1em;
      }
    }

    .submit-message{
      position: absolute;
      top: 6px;
      right: 6px;
      height: 30px;
      border-radius: 10px;
      width: 20%;
      color: $color_white;
      text-transform: uppercase;
      text-shadow: 2px 2px 0px darken($color_yellow, 25%);
      background-color: $color_yellow;
      border: none;
      font-size: 15px;
      font-weight: 700;
      cursor: pointer;
      -webkit-appearance: none;

      @include breakpoint($breakpoint_phablet , min){
        top: 12px;
        right: 12px;
        height: 40px;
        font-size: 18px;
      }


      &.hide{
        cursor: default;
      }
    }
  }
}

.result_text{
  display: block;
  margin-bottom: 10vh;
}
.overlay_img{
  position: absolute;
  transform: rotateZ(-6.5deg);
  width: 75px;
  height: 13px;
}

.fa-heart , .fa-robot{
  color: #ffe477;
}
.fa-smile-beam , .fa-smile-wink{
  color: #000;
}

.answerDiv{
  width: 100%;
  input{
    width: calc(100% - 50px);
    height: 50px;
    margin: 0 3%;
    padding: 2%;
    font-size: 18px;
    border: none;
  }
}

p.mixSelect{
  margin-left: 35px;
}


#inactive_message , #restart_chat_message{
  width: 100%;
  height: 100%;
  background-color: transparentize($color_black, 0.25);
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: fixed;
  .message_content{
    width: 80%;
    position: relative;
    .cta-btn {
      padding: 0.5rem;
      width: 80px;
      margin: $edge/2;
      @include breakpoint($breakpoint_phablet , min){
        padding: 1rem;
        width: 100px;
      }
    }
    p{
      color: $color_white;
      font-size: 24px;
      z-index: 200;
      font-weight: bold;
      @include breakpoint($breakpoint_phablet , min){
        font-size: 36px;
      }
    }
  }
}
#inactive_message{
  .cta-btn.ws-connect{
    width: 150px;
  }
}

.campaign-site-btn{
  z-index: 100;
  &:hover{
    cursor: pointer;
  }
}


#m-check-mark {
  position: absolute;
  top: 10px;
  left: 13px;
  width: 20px;
  height: 20px;

  @include breakpoint($breakpoint_phablet , min){
    top: 11px;
    left: 18px;
    width: 30px;
  }
}

#checkmark {
  stroke-dasharray: 640;
    stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: draw-around 1s forwards;
      -ms-animation: draw-around 1s forwards;
          animation: draw-around 1s forwards;
}
