// Responsive
// Min. screen 389px
@include breakpoint(390px , max){
  h1 {
      font-size: 30px;
      line-height: 1.2;
  }
  p {
    font-size: 15px;
  }
  .cta .cta-btn {
    padding: 0.5rem 2rem;
  }
  .intro_text {
    position: relative;
    &>div {
      width: 80%;
      @include position-center();
    }
  }
}

// Min. screen 649px
@include breakpoint($breakpoint_phablet , min){

  h1{
    font-size: 60px;
  }
  p{
    font-size: 20px;
  }
  #logo {
    display: block;
  }
  .dialog-box p {
    font-size: 16px;
  }
  #menu{
    padding: $edge*2 $edge*4;
    font-size: 16px;
      text-align: right;
  }

  .cta{
    margin: 0;
    .cta-btn{
      font-size: 18px;
    }
  }


  .container{
    .content{
      &[_ngcontent-c2]{
        flex-direction: row;
      }

      .dialog-box{
        width: 55%;
        margin: 0 5%;
        padding: 17px;
        overflow: hidden;
        .messages-box{
          bottom: 6rem;
          max-height: calc(100% - 6rem);
          padding: 0 20px;
        }
        &::after {
          bottom: 6rem;
        }
      }
    }
  }
  .psyk-animation{
    position: relative;
    width: 45%;
    height: 100vh;
    .animation-container{
      max-height: 73vh;
      width: 250%;
      height: 63vw;
      bottom: -6%;
      left: 0;
      position: absolute;
      @include position-center("horizontal", absolute, 75%);
    }
  }
}

// Min. screen 767px
@include breakpoint($breakpoint_tablet , min){
  .graphic{
    width: 50%;
    app-home-animation {
      z-index: 2;
      svg {
        max-width: 70vh;
      }
    }
    img{
      width: 35vw;
    }

    &::before {
      min-height: 25vh;
    }
  }
  .intro_text{
    display: flex;
    align-items: center;
    padding: 0 9% 0 5%;
    z-index: 2;
    margin-top: 0;
  }

  .graphic::before{
    height: calc(50% - 17.5vw);
  }
}

// Min. screen 959px
@include breakpoint($breakpoint_laptop , min){

  body{
    height: 100vh;
  }
  h1{
    font-size: 60px;
  }
   .graphic , .intro_text{
    width: 50%;
  }
  .result_text{
    padding: 0 5%;
  }
}

// Min. screen 1279px
@include breakpoint($breakpoint_laptop_medium , min){

  .intro_text{
    padding: 0 15% 0 5%;
  }

  .psyk-animation{
    max-width: none;
    img{
      height: 115%;
      left: 0;
    }
  }
}

// Min. screen 1919px
@include breakpoint($breakpoint_laptop_large , min){

  h1{
    font-size: 80px;
  }

  .container{
    .content{
      .dialog-box{
        margin: 0 10%;
      }
    }
  }
}
@media only screen and (max-height: 500px)  {

  #logo, #resetChat {
    display: none;
  }

  .psyk-animation {
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
  }

  .container .content {
    .psyk-animation{
      .animation-container{
        height: 100vh;
      }
    }

    .dialog-box{
      width: 90%;
      margin: 0 5%;
      .messages-box{
        bottom: 20px;
        max-height: calc(100% - 20px);
      }
      &::after {
        bottom: 20px;
      }
    }
  }


}
@media only screen and (max-height: 500px) and (max-width: $breakpoint_tablet){
h1 {
  font-size: 50px;
}
  .graphic {
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
  }
  .intro_text {
    height: calc(100vh - #{$height_header} - 35px - 40px);
    margin-bottom: 40px;
  }
}

@media only screen and (max-height: 500px) and (min-width: $breakpoint_tablet - 1){
  h1 {
    font-size: 50px;
  }
  .psyk-animation {
    display: block;
  }
}
