/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/views/_conversation_proto.scss */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #27ae60;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

/* line 16, ../sass/views/_conversation_proto.scss */
#frame {
  width: 95%;
  min-width: 360px;
  max-width: 1000px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
}

@media screen and (max-width: 360px) {
  /* line 27, ../sass/views/_conversation_proto.scss */
  #frame {
    width: 100%;
    height: 100vh;
  }
}
/* line 33, ../sass/views/_conversation_proto.scss */
#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  /* line 46, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
/* line 52, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile {
  width: 80%;
  margin: 25px auto;
}

@media screen and (max-width: 735px) {
  /* line 58, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}
/* line 66, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}

/* line 71, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}

/* line 75, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* line 84, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
  /* line 95, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}
/* line 100, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
  /* line 115, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}
/* line 121, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}

/* line 125, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}

/* line 129, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}

/* line 133, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}

/* line 137, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap p {
  float: left;
  margin-left: 15px;
}

@media screen and (max-width: 735px) {
  /* line 143, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}
/* line 148, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}

@media screen and (max-width: 735px) {
  /* line 157, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}
/* line 162, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
  /* line 179, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}
/* line 185, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}

@media screen and (max-width: 735px) {
  /* line 192, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}
/* line 197, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
  /* line 209, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}
/* line 214, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}

/* line 219, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  /* line 226, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}
/* line 231, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}

/* line 235, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
  /* line 244, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}
/* line 250, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}

@media screen and (max-width: 735px) {
  /* line 262, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}
/* line 268, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}

@media screen and (max-width: 735px) {
  /* line 273, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}
/* line 278, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: #2ecc71;
}

/* line 282, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}

/* line 286, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}

/* line 290, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}

/* line 294, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}

/* line 298, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}

/* line 302, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: #95a5a6;
}

/* line 306, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}

/* line 310, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}

/* line 316, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}

/* line 323, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}

/* line 333, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}

/* line 338, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
}

@media screen and (max-width: 735px) {
  /* line 345, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #search {
    display: none;
  }
}
/* line 350, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}

/* line 355, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #search input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: #32465a;
  color: #f5f5f5;
}

/* line 364, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #search input:focus {
  outline: none;
  background: #435f7a;
}

/* line 369, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #search input::-webkit-input-placeholder {
  color: #f5f5f5;
}

/* line 373, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #search input::-moz-placeholder {
  color: #f5f5f5;
}

/* line 377, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5;
}

/* line 381, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #search input:-moz-placeholder {
  color: #f5f5f5;
}

/* line 385, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  /* line 392, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #contacts {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  /* line 398, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: none;
  }
}
/* line 403, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}

/* line 407, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}

/* line 412, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}

/* line 416, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  /* line 424, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
/* line 429, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact:hover {
  background: #32465a;
}

/* line 433, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}

/* line 438, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}

/* line 442, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 735px) {
  /* line 449, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}
/* line 454, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}

/* line 465, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}

/* line 469, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}

/* line 473, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}

/* line 477, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 735px) {
  /* line 485, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}
/* line 490, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
  /* line 495, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}
/* line 500, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
}

/* line 504, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

/* line 517, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}

/* line 527, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 533, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 735px) {
  /* line 546, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}
/* line 553, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #bottom-bar button:focus {
  outline: none;
}

/* line 557, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}

@media screen and (max-width: 735px) {
  /* line 562, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}
/* line 568, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #bottom-bar button:hover {
  background: #435f7a;
}

/* line 572, ../sass/views/_conversation_proto.scss */
#frame #sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}

@media screen and (max-width: 735px) {
  /* line 578, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 735px) {
  /* line 584, ../sass/views/_conversation_proto.scss */
  #frame #sidepanel #bottom-bar button span {
    display: none;
  }
}
/* line 589, ../sass/views/_conversation_proto.scss */
#frame .content {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  /* line 598, ../sass/views/_conversation_proto.scss */
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  /* line 605, ../sass/views/_conversation_proto.scss */
  #frame .content {
    width: calc(100% - 340px);
  }
}
/* line 610, ../sass/views/_conversation_proto.scss */
#frame .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}

/* line 617, ../sass/views/_conversation_proto.scss */
#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}

/* line 624, ../sass/views/_conversation_proto.scss */
#frame .content .contact-profile p {
  float: left;
}

/* line 628, ../sass/views/_conversation_proto.scss */
#frame .content .contact-profile .social-media {
  float: right;
}

/* line 632, ../sass/views/_conversation_proto.scss */
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}

/* line 637, ../sass/views/_conversation_proto.scss */
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}

/* line 641, ../sass/views/_conversation_proto.scss */
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}

/* line 645, ../sass/views/_conversation_proto.scss */
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  /* line 654, ../sass/views/_conversation_proto.scss */
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
/* line 659, ../sass/views/_conversation_proto.scss */
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

/* line 664, ../sass/views/_conversation_proto.scss */
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 668, ../sass/views/_conversation_proto.scss */
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

/* line 677, ../sass/views/_conversation_proto.scss */
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}

/* line 681, ../sass/views/_conversation_proto.scss */
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}

/* line 685, ../sass/views/_conversation_proto.scss */
#frame .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}

/* line 690, ../sass/views/_conversation_proto.scss */
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}

/* line 695, ../sass/views/_conversation_proto.scss */
#frame .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}

/* line 700, ../sass/views/_conversation_proto.scss */
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}

/* line 706, ../sass/views/_conversation_proto.scss */
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}

@media screen and (min-width: 735px) {
  /* line 715, ../sass/views/_conversation_proto.scss */
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
/* line 720, ../sass/views/_conversation_proto.scss */
#frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

/* line 727, ../sass/views/_conversation_proto.scss */
#frame .content .message-input .wrap {
  position: relative;
}

/* line 731, ../sass/views/_conversation_proto.scss */
#frame .content .message-input .wrap input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}

@media screen and (max-width: 735px) {
  /* line 742, ../sass/views/_conversation_proto.scss */
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
/* line 747, ../sass/views/_conversation_proto.scss */
#frame .content .message-input .wrap input:focus {
  outline: none;
}

/* line 751, ../sass/views/_conversation_proto.scss */
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  /* line 763, ../sass/views/_conversation_proto.scss */
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
/* line 769, ../sass/views/_conversation_proto.scss */
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}

/* line 773, ../sass/views/_conversation_proto.scss */
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}

@media screen and (max-width: 735px) {
  /* line 784, ../sass/views/_conversation_proto.scss */
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}
/* line 789, ../sass/views/_conversation_proto.scss */
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}

/* line 793, ../sass/views/_conversation_proto.scss */
#frame .content .message-input .wrap button:focus {
  outline: none;
}
