<!DOCTYPE html>{% load static %}
<html>
<head>
    <title>{% block title %}{{title}}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    {% block starthead %}{% endblock %}

    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/stylesheets/screen.css" type="text/css" charset="utf-8">

    {% block endhead %}
    {% endblock %}


</head>
<body>

    {% block content_header %}
    {% endblock content_header %}


    <div id="main">
        <div class="content">
            {% block title_area %}
            {% endblock title_area %}
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% block content_footer %}
    {% endblock content_footer %}

</body>
</html>
