{% extends "base.html" %}

{% block content_header %}
    <div id="registration_content_wrap">
        <div id="registration_content">
            <h1>{% block title %}{{title}}{% endblock %}</h1>

            {% block content_registration %}
            
            {% endblock %}
        </div>
    </div>
{% endblock %}