/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* VARIABLES - COLORS */
/* VARIABLES - TYPOGRAPHY*/
/*c*/
/* VARIABLES - EFFECTS */
/* VARIABLES - SIZES */
/* VARIABLES - UNIVERSAL MIXINS*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*@import "elements/button_feedback";
@import "elements/button_moama";*/
/*--------------------------------------------------------------
# Views
--------------------------------------------------------------*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  font-family: "Titillium Web", sans-serif; }
  body *:focus {
    outline: none; }
  body a {
    color: inherit;
    text-decoration: none;
    cursor: pointer; }
  body div {
    box-sizing: border-box; }

input {
  font-family: "Titillium Web", sans-serif; }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #e5e5e5; }
  .container .content {
    width: 100%;
    padding: 0 10% 0 40%;
    height: 100%;
    position: relative;
    overflow-y: scroll; }
    @media (max-width: 768px) {
      .container .content {
        width: 100%;
        padding: 5%; } }
    .container .content .dialog-box {
      width: 100%;
      min-height: 80vh;
      position: relative;
      margin-bottom: 100px;
      bottom: 0;
      display: flex;
      justify-content: flex-end; }
      .container .content .dialog-box .messages-box {
        width: 100%;
        bottom: 10%;
        position: absolute;
        max-height: 70vh;
        overflow-y: scroll;
        padding: 0 20px; }
        .container .content .dialog-box .messages-box ul#display-message {
          width: 100%;
          min-height: 100px;
          margin: 0;
          padding: 0;
          list-style: none; }
          .container .content .dialog-box .messages-box ul#display-message li {
            display: flex;
            margin: 5px 0; }
            .container .content .dialog-box .messages-box ul#display-message li.msg {
              -webkit-transition: 300ms;
              -moz-transition: 300ms;
              transition: 300ms;
              -webkit-transform: translateY(10px);
              -ms-transform: translateY(10px);
              transform: translateY(10px);
              opacity: 0; }
              .container .content .dialog-box .messages-box ul#display-message li.msg p {
                max-width: 50%;
                /*min-width: 5%;*/ }
              .container .content .dialog-box .messages-box ul#display-message li.msg.user-msg {
                justify-content: flex-end; }
                .container .content .dialog-box .messages-box ul#display-message li.msg.user-msg p {
                  background: #ffe477;
                  color: #000;
                  border: 20px solid #ffe477;
                  border-radius: 20px; }
              .container .content .dialog-box .messages-box ul#display-message li.msg.bot-msg {
                justify-content: flex-start; }
                .container .content .dialog-box .messages-box ul#display-message li.msg.bot-msg p {
                  background: #fff;
                  color: #000;
                  border: 20px solid #fff;
                  border-radius: 20px; }
              .container .content .dialog-box .messages-box ul#display-message li.msg.visible {
                opacity: 1;
                -webkit-transform: translateX(0px);
                -ms-transform: translateX(0px);
                transform: translateX(0px); }
            .container .content .dialog-box .messages-box ul#display-message li:last-child.msg.bot-msg p {
              border-radius: 20px 20px 20px 0; }
        .container .content .dialog-box .messages-box #type-message {
          width: 100px;
          height: 25px;
          border-radius: 15px;
          background: #fff;
          position: relative;
          margin: 0 auto;
          justify-content: center;
          align-items: center;
          display: flex;
          -webkit-transition: 150ms;
          -moz-transition: 150ms;
          transition: 150ms;
          opacity: 0; }
          .container .content .dialog-box .messages-box #type-message.typing {
            opacity: 1;
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px); }
          .container .content .dialog-box .messages-box #type-message .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ffe477;
            margin: 0 4px; }
            .container .content .dialog-box .messages-box #type-message .dot.typing-dot-1 {
              animation: typing 1.5s ease 0ms infinite; }
            .container .content .dialog-box .messages-box #type-message .dot.typing-dot-2 {
              animation: typing 1.5s ease 375ms infinite; }
            .container .content .dialog-box .messages-box #type-message .dot.typing-dot-3 {
              animation: typing 1.5s ease 750ms infinite; }
            .container .content .dialog-box .messages-box #type-message .dot.typing-dot-4 {
              animation: typing 1.5s ease 1125ms infinite; }
      .container .content .dialog-box #chat-box {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #fff;
        border-radius: 20px;
        transition: opacity 0.5s; }
        .container .content .dialog-box #chat-box.hide {
          opacity: 0.3; }
        .container .content .dialog-box #chat-box input.input-message {
          font-size: 18px;
          margin: 0;
          padding: 0;
          border: none;
          float: left;
          height: 30px;
          background-color: #fff;
          border-radius: 20px;
          padding: 1.5em 1em;
          line-height: 1em;
          box-sizing: border-box;
          width: calc(80% - (10px + 10px)); }
        .container .content .dialog-box #chat-box .submit-message {
          position: absolute;
          top: 10px;
          right: 10px;
          height: calc(100% - 20px);
          border-radius: 10px;
          width: 20%;
          color: #fff;
          text-transform: uppercase;
          text-shadow: 2px 2px 0px #c49d00;
          background-color: #ffda44;
          border: none;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer; }
          .container .content .dialog-box #chat-box .submit-message.hide {
            cursor: default; }

#select-box {
  /*
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  */
  min-width: 20%;
  opacity: 0;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px); }
  #select-box.visible {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }

.checkBox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid #ffda44;
  background: #fff; }

.selection {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  margin: 5px 0;
  width: 50%; }
  .selection p {
    margin: 0 3%;
    padding: 0;
    font-weight: 600;
    max-width: 50%; }
  .selection:hover > :after {
    position: absolute;
    width: 90%;
    height: 100%;
    top: -3px;
    left: 0;
    content: "";
    border: 3px dashed #ffda44;
    cursor: pointer; }

@keyframes typing {
  0% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
#m-check-mark {
  position: absolute;
  top: 11px;
  left: 19px;
  width: 30px;
  height: auto;
  display: inline; }

#checkmark {
  stroke-dasharray: 640;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: draw-around 1s forwards;
  -ms-animation: draw-around 1s forwards;
  animation: draw-around 1s forwards; }

@-ms-keyframes draw-around {
  0% {
    stroke-dashoffset: 640; }
  10% {
    stroke-dashoffset: 640; }
  100% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes draw-around {
  0% {
    stroke-dashoffset: 640; }
  10% {
    stroke-dashoffset: 640; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes draw-around {
  0% {
    stroke-dashoffset: 640; }
  10% {
    stroke-dashoffset: 640; }
  100% {
    stroke-dashoffset: 0; } }

/*# sourceMappingURL=screen.css.map */
