<svg version="1.1" id="psyk_large" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 2880 1800" style="enable-background:new 0 0 2880 1800;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#E2C034;}
	.st1{opacity:0.25;fill:#5D6163;}
	.st2{fill:#FFEEE1;}
	.st3{opacity:0.25;fill:#66553D;}
	.st4{clip-path:url(#XMLID_9_);fill:#BCA131;}
	.st5{opacity:0.25;clip-path:url(#XMLID_10_);fill:#5D6163;}
	.st6{clip-path:url(#XMLID_10_);fill:#BCA131;}
	.st7{clip-path:url(#XMLID_11_);fill:#BCA131;}
	.st8{opacity:0.1;clip-path:url(#XMLID_12_);fill:#66553D;}
	.st9{fill:#FFDA44;}
	.st10{opacity:0.1;clip-path:url(#XMLID_13_);fill:#66553D;}
	.st11{opacity:0.25;clip-path:url(#XMLID_14_);fill:#66553D;}
	.st12{fill:#66432B;}
	.st13{clip-path:url(#XMLID_15_);fill:#66432B;}
	.st14{clip-path:url(#XMLID_16_);fill:#FFFFFF;}
	.st15{opacity:0.1;clip-path:url(#XMLID_16_);}
  .white {fill:#ffffff;}
</style>
<g id="psyk">
	<g id="body_x5F_top">
		<g id="torso">
			<defs>
				<path id="XMLID_24_" d="M1543,817.5c0,0-30.1,155.2-67.6,902.8c0,0-196.4,89.4-561.2,16c0,0,4.2-224.2-42.6-424.8
					c0,0-56.3-382.8-7-491.4c4.5-2.4,9.9-5.3,16.2-8.5c0,0,6.9,3.5,11.9,1.1c165-80,367.8-67.3,367.8-67.3
					C1380.7,753.1,1477.6,787.3,1543,817.5z"/>
			</defs>
			<use xlink:href="#XMLID_24_"  style="overflow:visible;fill:#FFDA44;"/>
			<clipPath id="XMLID_8_">
				<use xlink:href="#XMLID_24_"  style="overflow:visible;"/>
			</clipPath>
		</g>
		<g id="neck_1_">
			<path class="st0" d="M1302.8,742.6c0,0,14.7,80.7,1.5,93.2c-13.2,12.5-109.3,100.8-229.3,10.8c0,0-20.1-96-7.6-109.3
				c12.5-13.2,27.6-43,109.4-41.9C1258.6,696.5,1298.2,710.7,1302.8,742.6z"/>
			<path class="st1" d="M1101,764c0,0-32.8-24.3,21-42L1101,764z"/>
			<path class="st1" d="M1263.1,760c0,0,32.8-24.3-21-42L1263.1,760z"/>
			<path class="st2" d="M1256.7,579.6l3.4,149.3l2.6,30c0,0-23.6,33.6-79.7,35.5c-56.1,1.9-81.6-30.5-81.6-30.5l-3.2-76.8
				l-2.9-102.1L1256.7,579.6z"/>
			<g id="neck">
				<path class="st2" d="M1260.1,728.9l2.6,30c0,0-18,25.7-60.1,33.4c-6,1.1-16.5,84.5-23.5,84.8c-7,0.2-9.6-82.8-15.6-83.5
					c-42.5-4.9-62-29.7-62-29.7l-3.2-76.8C1166.1,719,1232.6,732.5,1260.1,728.9z"/>
				<path class="st3" d="M1098.2,667.1l-2.9-82.1l161.4-5.3l3.4,136.3C1234,733,1152,752,1098.2,667.1z"/>
			</g>
		</g>
		<g id="butterfly">
			<path class="st1" d="M1291.4,855.8c0,0,5.5-39.5-9.1-65c-10.5-18.3-51.9,24.3-74.7,50c-5.8-6.6-12.7-10.1-19.6-9.1
				c-7.2,1-13,6.6-16.8,15c-31.9-18-90.4-47.6-95.4-26.9c-7,28.6,7.6,54.2,7.6,54.2l0,0.1c-8.5,32.7-26.3,94.9,52.4,58.8l44.7-19.2
				c6,7.2,13.2,11.1,20.4,10c6.9-1,12.5-6.2,16.3-14C1398,944,1291.4,855.8,1291.4,855.8z"/>
			<g>
				<defs>
					<path id="XMLID_1_" d="M1188.7,851.8c0,0-109-67.6-116-39c-7,28.6,7.6,54.2,7.6,54.2l0,0.1c-8.5,32.7-17.3,96.9,52.4,58.8
						l57.5-24.7"/>
				</defs>
				<use xlink:href="#XMLID_1_"  style="overflow:visible;fill:#FFF4C7;"/>
				<clipPath id="XMLID_9_">
					<use xlink:href="#XMLID_1_"  style="overflow:visible;"/>
				</clipPath>
				<circle class="st4" cx="1082.5" cy="872.5" r="15.5"/>
				<circle class="st4" cx="1135.5" cy="871.5" r="15.5"/>
				<circle class="st4" cx="1166.5" cy="907.5" r="15.5"/>
				<circle class="st4" cx="1186.5" cy="865.5" r="15.5"/>
				<circle class="st4" cx="1114.5" cy="912.5" r="15.5"/>
				<circle class="st4" cx="1091.5" cy="826.5" r="15.5"/>
				<circle class="st4" cx="1150.5" cy="826.5" r="15.5"/>
			</g>
			<g>
				<defs>
					<path id="XMLID_2_" d="M1189.3,851.7c0,0,75.3-93.5,89.9-67.9c14.6,25.6,9.1,65,9.1,65s102.6,99.2-86.8,50.9"/>
				</defs>
				<use xlink:href="#XMLID_2_"  style="overflow:visible;fill:#FFF4C7;"/>
				<clipPath id="XMLID_10_">
					<use xlink:href="#XMLID_2_"  style="overflow:visible;"/>
				</clipPath>
				<path class="st5" d="M1171.3,875.6c3.6,25.4,18.6,44.4,33.6,42.3c15-2.1,22.2-24.4,18.6-49.9s-22.6-38.4-37.6-36.3
					C1170.9,833.8,1167.7,850.1,1171.3,875.6z"/>
				<circle class="st6" cx="1256.5" cy="870.5" r="15.5"/>
				<circle class="st6" cx="1287.5" cy="906.5" r="15.5"/>
				<circle class="st6" cx="1307.5" cy="864.5" r="15.5"/>
				<circle class="st6" cx="1235.5" cy="911.5" r="15.5"/>
				<circle class="st6" cx="1227.5" cy="788.5" r="15.5"/>
				<circle class="st6" cx="1258.5" cy="824.5" r="15.5"/>
				<circle class="st6" cx="1278.5" cy="782.5" r="15.5"/>
				<circle class="st6" cx="1206.5" cy="829.5" r="15.5"/>
			</g>
			<g>
				<defs>

						<ellipse id="XMLID_3_" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -109.5991 174.2954)" cx="1191.4" cy="870.8" rx="27.4" ry="46.5"/>
				</defs>
				<use xlink:href="#XMLID_3_"  style="overflow:visible;fill:#FFF4C7;"/>
				<clipPath id="XMLID_11_">
					<use xlink:href="#XMLID_3_"  style="overflow:visible;"/>
				</clipPath>
				<circle class="st7" cx="1190.5" cy="849.5" r="15.5"/>
				<circle class="st7" cx="1221.5" cy="885.5" r="15.5"/>
				<circle class="st7" cx="1169.5" cy="890.5" r="15.5"/>
				<circle class="st7" cx="1192.5" cy="803.5" r="15.5"/>
				<circle class="st7" cx="1140.5" cy="808.5" r="15.5"/>
			</g>
		</g>
	</g>
	<g id="left_x5F_arm">
		<g id="right_x5F_arm_1_">
			<g>
				<defs>
					<path id="XMLID_6_" d="M1463.2,1600.6c0,0-84.8,27.1-125.7,78.8c0,0-17.2,24-0.4,33.1c16.8,9.1,2.2,32.2,19.8,42.3
						c17.5,10.1,8.7,28.7,35.6,33.9c0,0,4,19.7,22.9,21c18.9,1.2,62.1,7.4,66.9-1.8c4.8-9.2,32.6-44.6,31.6-49.3
						c-1-4.7-4.8-11.7-19.8-8.9c0,0,13.2-8.3,25.1-22.3c11.9-14.1,20.8-44.4,20.8-44.4l8.2-83.9L1463.2,1600.6z"/>
				</defs>
				<use xlink:href="#XMLID_6_"  style="overflow:visible;fill:#FFEEE1;"/>
				<clipPath id="XMLID_12_">
					<use xlink:href="#XMLID_6_"  style="overflow:visible;"/>
				</clipPath>
				<path class="st8" d="M1518.8,1532.6l-65.2,61.6c0,0-5.5,67.4,84.9,102.4l49.8-33.6L1518.8,1532.6z"/>
			</g>
			<g>
				<path class="st9" d="M1526.8,1528.3l-63.3,59.8c0,0-5.7,75.1,81.9,109.1l48.8-42.3L1526.8,1528.3z"/>
				<path class="st0" d="M1538.8,820.8c0,0,7.8,8.3,21,23c1.3,1.4,5.6,2.2,6.9,3.7c1.3,1.4-4.6,9.4-3.3,10.9
					c0.9,1,10.8,1.4,11.7,2.5c77.3,87,266.6,311.3,292.1,448.4c0,0,28.4,103.6-272.3,356.3c0,0-83.3-3.2-101.1-117.2l56.1-65.9
					c1.9-2.2,2.6-5.2,1.9-8.1l-0.7-2.7c-0.1-0.5,0.3-0.9,0.8-0.8l13.3,3.9c0.5,0.1,0.9-0.3,0.7-0.8l-2.2-5.8c-0.3-0.9-0.2-2,0.5-2.7
					l124.3-145.8l-177.1-202.4C1511.8,1117.3,1464,959,1538.8,820.8z"/>
			</g>
		</g>
	</g>
	<g id="right_x5F_arm">
		<g>
			<defs>
				<path id="XMLID_5_" d="M909.8,1605.5c0,0,78.1,30.7,114.3,84.1c0,0,15.1,24.7-0.9,33.1c-16.1,8.3-3.4,32-20.1,41.4
					c-16.8,9.4-9.3,28.3-34.6,32.4c0,0-4.5,19.5-22.2,20c-17.6,0.4-58.2,4.7-62.4-4.7c-4.1-9.4-28.7-45.9-27.5-50.6
					c1.1-4.6,4.9-11.5,18.9-8c0,0-12-8.8-22.5-23.4c-10.5-14.6-17.6-45.2-17.6-45.2l-4.3-84.2L909.8,1605.5z"/>
			</defs>
			<use xlink:href="#XMLID_5_"  style="overflow:visible;fill:#FFEEE1;"/>
			<clipPath id="XMLID_13_">
				<use xlink:href="#XMLID_5_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st10" d="M860.5,1535.2l58.4,64.4c0,0,2.4,67.6-83.3,98.7l-45.2-35.7L860.5,1535.2z"/>
		</g>
		<g>
			<path class="st9" d="M853.2,1530.6l56.7,62.5c0,0,2.4,75.3-80.8,105.5l-43.8-44.3L853.2,1530.6z"/>
			<path class="st0" d="M870.1,823.2c0,0-7.6,8-20.5,22.1c-1.2,1.3-5.3,1.9-6.6,3.4c-1.2,1.4,3.9,9.6,2.6,11c-0.9,1-10.1,1-11,2
				C759,945.3,573.3,1161.3,544,1297.2c0,0-30.6,102.3,240,367.6c0,0,77.9,0.3,99-112.8l-49.8-68.2c-1.7-2.3-2.2-5.3-1.5-8.2
				l0.7-2.7c0.1-0.5-0.3-1-0.8-0.8l-12.6,3.4c-0.4,0.1-0.8-0.4-0.6-0.8l2.2-5.7c0.4-0.9,0.2-2-0.3-2.7l-110.2-151l165.7-191
				C875.9,1124.3,943.4,935.3,870.1,823.2z"/>
		</g>
	</g>
	<g id="head">
		<g id="face_1_">
			<g>
				<defs>
					<ellipse id="XMLID_4_" cx="1366.2" cy="385.8" rx="39.4" ry="49.2"/>
				</defs>
				<use xlink:href="#XMLID_4_"  style="overflow:visible;fill:#FFEEE1;"/>
				<clipPath id="XMLID_14_">
					<use xlink:href="#XMLID_4_"  style="overflow:visible;"/>
				</clipPath>
				<path class="st11" d="M1382,456l-38-3V319h54c0,0-17,65.9-18,88C1379.5,418.4,1382,456,1382,456z"/>
			</g>
			<path class="st12" d="M978.7,180.4C992,137,1155,92.8,1155,92.8c18.2-67.3,91.2-32.6,91.2-32.6c120.1-84,241.8-3.2,219.1,113.3
				c-13.4,68.6-66,85.8-66,85.8l-20.3,63.8l-333.3,126.5l-64.2-93.3c0,0-5.8-107.5-4.5-163.3C977,193,978,187,978.7,180.4z"/>
			<path class="st2" d="M997.8,332l27.3,46.9l30.1-2.5c0.4-26.9-11.6-68.4-12.8-97.1c-0.1-2.5-25.7-40.7-25.7-40.7l34.8,10.1
				c87.1,2,159-22.4,206.2-44.8c22.4,33.6,63.8,73,130.3,57.9c-10.4,65.9-20,133.6-27.4,265.8c-2,35.3-47.7,129.7-81.4,150
				c-35.4,21.4-132.2,15.9-164.6-12.5c-107.2-93.8-107.2-226.9-107.2-226.9s-61.7,27.4-68.2-58.8C933.7,308.2,997.8,332,997.8,332z"
				/>
			<path class="st3" d="M1310.6,296c-49.1-7-71-60.6-68.3-73.4c0,0-95.3,41.2-190.8,26.2c87.1,2,159-22.4,206.2-44.8
				c22.4,33.6,63.8,73,130.3,57.9c-0.7,4.5-1.4,9.1-2.1,13.7C1375.2,284.1,1348.1,301.4,1310.6,296z"/>
			<g>
				<defs>
					<path id="XMLID_23_" d="M1025.1,378.9l30.1-2.5l14.6,115.7c103.5,31.6,257.1,14.3,293.6,10.7c2-0.2,3.6,1.6,3.1,3.6
						c-0.8,3.5-2.2,7-3.4,10.5c-1.2,3.5-2.3,7.1-2.5,10.8c-2,35.3-16.9,142.9-50.6,163.2c-35.4,21.4-167,22.4-199.4-6
						c-62.8-55-91.5-154.5-97.9-179.6c-1-3.7-1.2-7.6-0.8-11.4L1025.1,378.9z"/>
				</defs>
				<use xlink:href="#XMLID_23_"  style="overflow:visible;fill:#473828;"/>
				<clipPath id="XMLID_15_">
					<use xlink:href="#XMLID_23_"  style="overflow:visible;"/>
				</clipPath>
				<path class="st13" d="M1106.5,535.7c-67,114.2-106.3,224.5-106.3,224.5l-35.4-27.6C964.7,732.6,1019.8,586.9,1106.5,535.7z"/>
				<path class="st13" d="M1106.3,478.4c-94.5,94.5-90.6,177.2-90.6,177.2l-15.8-27.6C999.9,628.1,984.2,506,1106.3,478.4z"/>
			</g>

		<path id="pupil_x5F_left" d="M1301.3,409.6c0.2-7.4,5.9-13.2,12.9-13.1c6.9,0.2,12.4,6.3,12.3,13.6c-0.2,7.4-5.9,13.2-12.9,13
			C1306.6,423.1,1301.1,417,1301.3,409.6z"/>
		<path id="pupil_x5F_right" d="M1125.4,406.8c0.2-10.5,8.4-18.8,18.3-18.6c9.9,0.2,17.7,8.9,17.5,19.4
			c-0.2,10.5-8.4,18.8-18.3,18.6C1133,426,1125.2,417.3,1125.4,406.8z"/>
		<path id="eyebrow_x5F_left" class="st12" d="M1294,287.5c-9.4,2.6-15.6,18.2-17.5,26.3c-3.3,13.5,59.3,63.6,64.7,60.4l3.2-14.1
			C1344.4,360.2,1296.3,286.9,1294,287.5z"/>
		<path id="eyebrow_x5F_right" class="st12" d="M1182.2,278.7c0,0,9.9,21.8,9.6,30.1c-0.6,13.9-74.5,44.7-78.8,40.2
			c0,0-8.6-9.1,0.8-14.4C1123.1,329.4,1182.2,278.7,1182.2,278.7z"/>
		<g id="mouth_x5F_happy">
			<defs>
				<path id="XMLID_22_" d="M1267.3,545.4h-89.6c-8.6,0-13.8,9.6-9,16.8v0c12.7,19,34,30.4,56.9,30.4h3.3
					c21.2,0,40.3-12.7,48.4-32.3l0,0C1280.2,553.2,1275,545.4,1267.3,545.4z"/>
			</defs>
			<use xlink:href="#XMLID_22_"  style="overflow:visible;"/>
			<clipPath id="XMLID_16_">
				<use xlink:href="#XMLID_22_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st14" d="M1315,545.4c0,0-90.6,43.3-181.2,0l86.6-11.8L1315,545.4z"/>

				<rect x="1161.4" y="525.7" transform="matrix(-1 -4.490021e-11 4.490021e-11 -1 2448.8372 1074.9631)" class="st15" width="126" height="23.6"/>
		</g>
		<g id="cheek_x5F_left">
			<path class="st2" d="M1338.6,443c0,0-19.7-39.4-47.3-7.9L1338.6,443z"/>
			<path d="M1342.6,443c0,0-27.6-27.6-59.1-7.9C1283.5,435.1,1322.9,395.7,1342.6,443z"/>
		</g>
		<g id="cheek_x5F_right">
			<path class="st2" d="M1161.4,453c0,0-19.7-39.4-47.3-7.9L1161.4,453z"/>
			<path d="M1165.3,453c0,0-27.6-27.6-59.1-7.9C1106.3,445.1,1145.6,405.7,1165.3,453z"/>
		</g>
		<path id="glasses" d="M976.2,332.3l88.1,42.5l1.7-0.6l-4.1,25.9c-2.1,30.7,5.5,67.9,53.7,71.2l38.5,2.7c19.5,1.4,35.3-3.4,47-14.2
			c12.7-11.7,19.5-29.8,19.7-52.2l1.1-16.5l23.6,1.6l-1.3,16.8c-2.9,21.9,1.3,40.8,12.3,54.1c10.1,12.3,25.1,19.2,44.6,20.6
			l38.5,2.7c48.2,3.4,60.8-32.5,63-63.1l0-0.5l-0.5-26.2c6,1.2,12.2-1.7,15-7.5c3.3-6.8,0.4-15-6.4-18.3
			c-3-1.4-73.6-34.8-163.3-11.7c-7.3,1.9-11.8,9.4-9.9,16.7c0.4,1.5,1,2.9,1.9,4.2l-9.9-0.7c1-1.1,1.9-2.4,2.5-3.9
			c2.9-7-0.4-15-7.5-17.9c-73.5-30.3-138.8-17.5-157.8-12.7l-78.5-37.9c-6.8-3.3-15-0.4-18.3,6.4C966.5,320.8,969.4,329,976.2,332.3
			z M1255.8,410.8l1.7-23c0,0,0,0,0,0c0,0,0,0,0,0l0.2-2.3c61.1-14.7,112.7,0,132.3,7.2l0.6,30.7c-2.7,37.6-18.8,54.2-50.4,51.9
			l-38.5-2.7c-16.1-1.1-28.3-6.6-36.3-16.3C1254.4,442.6,1254.1,424,1255.8,410.8z M1073.7,401.2l4.8-30.3
			c20.5-4.4,73.5-11.8,132.1,11.2l-1.6,25.1c-0.1,13.6-3,32-15.9,44c-9.2,8.5-22,12.2-38.2,11.1l-38.5-2.7
			C1084.7,457.4,1071.1,438.8,1073.7,401.2z"/>
		<g id="nose_1_">
			<path class="st2" d="M1236,419.3c15,16.7,94.5,82.7-7.9,70.9C1213.4,486.9,1202,473,1236,419.3z"/>
			<path id="nose" d="M1236,419.3c0,0,9.8,7.6,20.5,17.8c24.8,23.6,54.9,61.3-16.5,53.1C1240,490.2,1310,485,1236,419.3z"/>
		</g>
		<path id="hair" class="st12" d="M976.3,196.4c-11.1-24.8-31.7-30-31.7-30c7.2-10.6,23.2-9.9,33.5-8.1c0,0,29.5,3.3,30.1,17.3
			C1012.7,272.8,976.3,196.4,976.3,196.4z"/>
      </g>
	</g>
</g>
</svg>

